@use "../../base/globals.scss" as s;

.article-id-section {
  @include s.d-flex($direction: column);
  gap: 32px;
  padding-bottom: 57px;

  & .breadcrumbs {
    &__info {
      color: #8a8a8a;
      a {
        color: #8a8a8a;

        transition: color 0.5s ease;

        &:hover {
          color: s.$color__black;
        }
      }
    }
  }
  &__title {
    padding: 78px 0 0 0;
    @include s.d-flex($direction: column);
    gap: 10px;
    h1 {
      // width: 460px;
      font-family: s.$font__rel;
      font-weight: 700;
      // font-size: 32px;
      font-size: 27px;
      line-height: 1.09375;
    }
    span {
      font-weight: 500;
      // font-size: 15px;
      font-size: 12px;
      line-height: 1.46667;
      letter-spacing: 0.01em;
      color: #8a8a8a;
    }
  }
  &-containers {
    @include s.d-flex($direction: column, $align: center);
    gap: 36px;
    & .article-id-section__one {
      &-img {
        width: 100%;
        height: auto;
      }
      &-section-one {
        padding: 28px 0 39px 0;
        @include s.d-flex($direction: column);
        gap: 11px;
        p {
          font-family: s.$font__rel;
          font-weight: 500;
          // font-size: 16px;
          font-size: 14px;
          line-height: 1.5625;
          letter-spacing: 0.01em;
        }
      }
      &-section-two {
        @include s.d-flex($direction: column);
        gap: 23px;
        padding: 0px 0 32px 0;
        h2 {
          // width: 600px;

          font-family: s.$font__rel;
          font-weight: 700;
          font-size: 24px;
          line-height: 1.16667;
          letter-spacing: -0.01em;
        }
        p {
          font-family: s.$font__rel;
          font-weight: 500;
          // font-size: 16px;
          font-size: 14px;
          line-height: 1.5625;
        }
        ul {
          @include s.d-flex($direction: column);

          gap: 10px;
          h2 {
            font-family: s.$font__rel;
            margin-bottom: 4px;

            font-weight: 700;
            font-size: 16px;
            line-height: 1.75;
          }
          li {
            // padding-left: 29px;
            padding-left: 19px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: s.$color__green-dark;
            }
          }
        }
      }
      &-section-three {
        // padding: 28px 0 39px 0;
        padding: 28px 0 0px 0;
        @include s.d-flex($direction: column);
        gap: 11px;
        font-family: s.$font__rel;
        h2 {
          margin-bottom: 9px;
          // width: 530px;
          font-weight: 700;
          font-size: 24px;
          line-height: 1.16667;
        }
        p {
          font-weight: 500;
          // font-size: 16px;
          font-size: 14px;
          line-height: 1.5625;
        }
      }
    }
    & .article-id-section__two {
      @include s.d-flex($direction: column, $align: center);

      gap: 32px;
      &-list {
        @include s.d-flex($direction: row, $wrap: wrap, $justify: center);

        gap: 20px;
        h3 {
          max-width: 220px;
          font-family: s.$font__rel;
          font-weight: 700;
          font-size: 24px;
          line-height: 1.08333;
          letter-spacing: 0.01em;
          text-align: center;
        }
        &-item {
          box-sizing: border-box;

          width: 220px;
          @include s.d-flex($direction: column);
          img {
            width: 220px;
            height: 163px;
          }
          &-text {
            padding: 14px 0 22px 0;
            @include s.d-flex($direction: column);
            gap: 5px;
            span {
              font-weight: 500;
              font-size: 13px;
              line-height: 2;
              letter-spacing: 0.01em;
              color: #8a8a8a;
            }
            h4 {
              font-family: s.$font__rel;
              font-weight: 700;
              font-size: 15px;
              line-height: 1.06667;
              letter-spacing: 0.01em;
            }
            a {
              margin-top: 5px;
              @include s.d-flex($direction: row);

              font-family: s.$font__rel;
              font-weight: 700;
              font-size: 13px;
              line-height: 1.53846;
              letter-spacing: 0.01em;
              color: s.$color__blue-dark;

              transition: color 0.5s ease;
              svg {
                width: 36px;
                height: 18px;
                fill: s.$color__blue-dark;

                transition: fill 0.5s ease;
              }

              &:hover {
                color: s.$color__green-dark;
                svg {
                  fill: s.$color__green-dark;
                }
              }
            }
          }
        }
      }
      &-div {
        width: 100%;
        height: 226px;

        @include s.d-flex($direction: column, $align: center, $justify: center);
        gap: 22px;
        padding: 0 20px;
        box-sizing: border-box;
        background: s.$color__green-dark;

        font-family: s.$font__rel;
        h4 {
          font-weight: 800;
          font-size: 20px;
          letter-spacing: 0.02em;
          text-align: center;
          color: s.$color__white;
        }
        p {
          padding: 0 30px;
          font-weight: 600;
          font-size: 17px;
          letter-spacing: 0.01em;
          text-align: center;
          color: #efefef;
        }
        &-soc {
          margin-top: 8px;
          @include s.d-flex($direction: row, $align: center);
          gap: 18px;
          li {
            a {
              svg {
                width: 14px;
                height: 14px;
                fill: #efefef;
              }
            }
            &:hover {
              svg {
                fill: s.$color__gray;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: s.$media_768) {
    &__title {
      h1 {
        width: 460px;
        font-size: 32px;
      }
      span {
        font-size: 15px;
      }
    }
    &-containers {
      gap: 36px;
      & .article-id-section__one {
        &-section-one {
          p {
            font-size: 16px;
          }
        }
        &-section-two {
          p {
            font-size: 16px;
          }
          ul {
            li {
              padding-left: 29px;
            }
          }
        }
        &-section-three {
          p {
            font-size: 16px;
          }
        }
      }
      & .article-id-section__two {
        margin-top: 20px;
        @include s.d-flex($direction: column);

        &-list {
          &-item {
          }
        }
        &-div {
          width: 100%;
        }
      }
    }
  }
  @media (min-width: s.$media_1440) {
    &-containers {
      @include s.d-flex($direction: row);
      gap: 36px;
      & .article-id-section__one {
        &-section-two {
          h2 {
            width: 600px;
          }
        }
        &-section-three {
          padding: 28px 0 39px 0;
          h2 {
            width: 530px;
          }
        }
      }
      & .article-id-section__two {
        margin-top: 20px;
        @include s.d-flex($direction: column, $align: center);

        &-list {
          @include s.d-flex($direction: column, $align: center);
        }
      }
    }
  }
  @media (min-width: s.$media_1920) {
    &-containers {
      & .article-id-section__two {
        &-list {
          &-item {
            margin-left: 6px;
          }
        }
        &-div {
          width: 260px;
          height: auto;

          @include s.d-flex($direction: column, $align: center);
          padding: 42px 18px 27px 22px;
        }
      }
    }
  }
}
