@use "../base/globals.scss" as s;

.accountpage {
  padding-top: 106px;
  padding-bottom: 100px;
  // @include s.d-flex($direction: row);
  @include s.d-flex($direction: column);
  gap: 78px;
  &__info {
    // width: 960px;
    // @include s.d-flex($direction: row, $justify: space-between);
    @include s.d-flex($direction: column);

    &-desc {
      margin-top: 2px;
      @include s.d-flex($direction: column);
      p {
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 16px;
        line-height: 2;
      }
      &-tel {
        @include s.d-flex($direction: row, $align: center);
        gap: 10px;
        svg {
          width: 12px;
          height: 12px;
          fill: s.$color__green-dark;
        }
        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 1.28571;
          letter-spacing: 0.01em;
          color: s.$color__green-dark;
        }
      }
    }
    &-sale {
      margin-top: 10px;
      font-weight: 600;
      font-size: 16px;
      color: s.$color__green-dark;
    }
  }
  @media (min-width: s.$media_768) {
    @include s.d-flex($direction: row);
    &__info {
      // width: 960px;
      // @include s.d-flex($direction: row, $justify: space-between);
      @include s.d-flex($direction: column);
    }
  }
  @media (min-width: s.$media_1440) {
    &__info {
      // width: 960px;
      width: 680px;
      @include s.d-flex($direction: row, $justify: space-between);
    }
  }
  @media (min-width: s.$media_1920) {
    &__info {
      width: 960px;
    }
  }
}
.order-history {
  padding-top: 109px;
  padding-bottom: 96px;
  // @include s.d-flex($direction: row);
  @include s.d-flex($direction: column);
  gap: 50px;
  &__info {
    @include s.d-flex($direction: column);
    gap: 77px;
    &-desc {
      margin-top: 2px;
      // margin-left: 26px;
      @include s.d-flex($direction: column);
      p {
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 16px;
        line-height: 2;
      }
      &-tel {
        @include s.d-flex($direction: row, $align: center);
        gap: 10px;
        svg {
          width: 12px;
          height: 12px;
          fill: s.$color__green-dark;
        }
        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 1.28571;
          letter-spacing: 0.01em;
          color: s.$color__green-dark;
        }
      }
    }
    &-table-wrappper {
      // width: 100%;
      overflow-x: auto;
    }
    &-table {
      width: 992px;

      border-collapse: collapse;
      border-spacing: 0;
      thead {
        tr {
          th {
            padding-bottom: 18px;

            font-family: s.$font__rel;
            font-weight: 700;
            font-size: 16px;
            line-height: 2;
            svg {
              width: 10px;
              height: 7px;
              fill: s.$color__green;
            }
          }
        }
      }
      tbody {
        tr {
          background: transparent;

          transition: color 0.5s ease;
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);

          td {
            padding: 14px 0;
            text-align: center;
            // font-family: s.$font__rel;

            font-weight: 500;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.01em;
            svg {
              width: 24px;
              height: 24px;
            }
          }
          &:hover {
            background: rgba(51, 125, 90, 0.1);
          }
        }
      }
      & .col-id {
        width: 139px;
        text-align: center;
      }
      & .col-date {
        width: 155px;
        text-align: center;
      }
      & .col-count {
        width: 184px;
        text-align: center;
      }
      & .col-status {
        width: 186px;
        text-align: center;
      }
      & .col-price {
        width: 134px;
        text-align: center;
      }
      & .col-actions {
        width: 170px;
        text-align: center;
      }
    }
  }
  @media (min-width: s.$media_1920) {
    @include s.d-flex($direction: row);
    &__info {
      &-desc {
        margin-left: 26px;
      }
      &-table-wrappper {
        width: 100%;
        overflow-x: auto;
      }
      &-table {
        width: auto;
      }
    }
  }
}
.account-nav {
  width: 250px;
  margin-left: -2px;
  @include s.d-flex($direction: column);
  gap: 65px;
  h1 {
    font-family: s.$font__rel;
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
  }
  &__info {
    @include s.d-flex($direction: column);
    gap: 34px;
    &-div {
      @include s.d-flex($direction: column);
      gap: 12px;
      font-family: s.$font__rel;
      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.77778;
      }
      &-list {
        @include s.d-flex($direction: column);
        gap: 3px;
        a {
          display: inline-block;
          // width: auto;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: s.$color__blue-dark;

          transition: color 0.5 ease;

          p {
            display: inline-block;
            &.active-link {
              border-bottom: 3px solid s.$color__green-dark;
              color: s.$color__green-dark;
            }
          }
          &:hover {
            color: s.$color__green-dark;
          }
        }
      }
    }
  }
}
