@use "../base/globals.scss" as s;

.benefits {
  padding-top: 82px;
  padding-bottom: 100px;
  @include s.d-flex($direction: column, $align: center);
  gap: 35px;
  &__info {
    font-family: s.$font__rel;
    color: s.$color__blue-dark;
    @include s.d-flex($direction: column, $align: center);
    gap: 15px;
    h1 {
      text-align: center;
      font-weight: 800;
      font-size: 25px;
      letter-spacing: 0.01em;
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.01em;
      text-align: center;
    }
  }
  &__list {
    @include s.d-flex($direction: column, $align: center, $justify: center);
    gap: 30px;
    width: 100%;

    &-item {
      position: relative;
      padding: 10px 38px 0 38px;
      box-sizing: border-box;

      width: 100%;
      height: 450px;
      @include s.d-flex($direction: column, $align: center, $justify: center);
      gap: 15px;
      @include s.bgr();

      font-family: s.$font__rel;
      color: s.$color__white;

      background: transparent;

      transition: background 0.5s ease;
      &-one {
        svg {
          width: 68px;
          height: 72px;
          transform: rotate(19.21deg);
        }
      }
      &-two {
        svg {
          width: 51px;
          height: 51px;
        }
      }
      &-three {
        svg {
          width: 59px;
          height: 54px;
        }
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
      &-title {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 0.01em;
      }
      &-text {
        display: none;
        margin-top: 10px;

        gap: 18px;

        transition: all 0.5s ease;
        p {
          font-weight: 600;
          font-size: 12px;
          line-height: 1.27778;
          letter-spacing: 0.01em;
          text-align: center;
        }
      }
      &:hover {
        background: rgba(46, 112, 81, 0.95);
        & .benefits__list-item-text {
          @include s.d-flex($direction: column, $align: center);
        }
      }
    }
  }

  @media (min-width: s.$media_1440) {
    gap: 65px;
    &__info {
      gap: 30px;
      h1 {
        font-size: 45px;
      }
      p {
        width: 600px;
        font-size: 18px;
      }
    }
    &__list {
      @include s.d-flex($direction: row, $align: center, $justify: center);

      &-item {
        &-title {
          font-size: 33px;
        }
        &-text {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (min-width: s.$media_1920) {
    &__list {
      &-item {
        width: 410px;
        height: 525px;
        &-title {
          font-size: 40px;
        }
        &-text {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
