@use "../base/globals.scss" as s;

.footer {
  padding-bottom: 33px;
  @include s.d-flex($direction: column);
  &__one {
    @include s.d-flex($direction: column, $align: center);
    gap: 20px;

    nav {
      margin-bottom: 5px;
      @include s.d-flex($direction: column, $align: center);
      gap: 17px;
      a {
        font-family: s.$font__rel;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.01em;
        color: s.$color__blue-dark;

        transition: color 0.5s ease;
        &.active-link {
          color: s.$color__green-dark;
        }
      }
    }
  }
  hr {
    margin: 24px 0 30px 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__two {
    @include s.d-flex($direction: column, $align: center);
    gap: 15px;
    &-avada {
      margin-left: -3px;
      @include s.d-flex($direction: row, $align: center);
      gap: 5px;
      font-size: 12px;
      &-gray {
        font-weight: 400;
      }
      &-green {
        color: s.$color__green-dark;
        span {
          font-weight: 600;
        }
      }
    }
    &-policy {
      padding-right: 0px;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
    }
    &-soc {
      @include s.d-flex($direction: row, $align: center);
      gap: 18px;
      li {
        a {
          svg {
            max-width: 16px;
            max-height: 13px;
            fill: s.$color__gray-dark;

            transition: fill 0.5s ease;
          }
          &:hover {
            svg {
              fill: s.$color__green;
            }
          }
        }
      }
    }
  }

  @media (min-width: s.$media_768) {
    &__one {
      @include s.d-flex($direction: row, $justify: space-between);
      nav {
        @include s.d-flex($direction: row, $align: center, $wrap: wrap);
        gap: 17px;

        width: 450px;
      }
    }
  }
  @media (min-width: s.$media_1440) {
    &__one {
      @include s.d-flex($direction: row, $align: end, $justify: space-between);
      gap: 0px;
      nav {
        @include s.d-flex($direction: row, $align: center);
        gap: 17px;

        width: auto;
      }
    }
    &__two {
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      gap: 0px;
      &-policy {
        padding-right: 90px;
        text-align: left;
      }
    }
  }
  @media (min-width: s.$media_1920) {
    &__one {
      nav {
        gap: 57px;
      }
    }
  }
}

