@use "../base/globals.scss" as s;

.forgot {
  padding-top: 109px;
  padding-bottom: 102px;
  @include s.d-flex($direction: column, $align: center);
  gap: 27px;
  h1 {
    font-family: s.$font__rel;
    font-weight: 800;
    // font-size: 32px;
    font-size: 25px;
    line-height: 1;
    text-align: center;
  }
  &__forms {
    @include s.d-flex($direction: column, $align: center);
    gap: 49px;
    &-item {
      // width: 410px;
      max-width: 410px;

      @include s.d-flex($direction: column, $align: center);
      h3 {
        @include s.d-flex($direction: row, $align: center);
        font-family: s.$font__rel;
        font-weight: 600;
        font-size: 18px;

        margin-bottom: 10px;
        svg {
          margin-bottom: 3px;
          margin-right: 12px;
          width: 16px;
          height: 19px;
        }
      }
      p {
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.36;
        text-align: center;
        color: #8a8a8a;

        margin-bottom: 16px;
      }
      input {
        height: 47px;
        width: 100%;
        @include s.input-reg();
        padding-left: 12px;
        padding-top: 18px;

        margin-bottom: 15px;
      }
      button {
        @include s.btn-gr-wh();
        @include s.d-flex($direction: column, $align: center, $justify: center);
        width: 245px;
        height: 50px;

        font-family: s.$font__rel;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.0625;
      }
    }
    &-pas {
      p {
        // margin-left: -25px;
        span {
          color: s.$color__blue-dark;
        }
      }
    }
  }
  @media (min-width: s.$media_768) {
    h1 {
      font-size: 32px;
    }
    &__forms {
      &-item {
        width: 410px;
      }
      &-pas {
        p {
          margin-left: -25px;
        }
      }
    }
  }
}
