@use "../base/globals.scss" as s;

// -------- aboutpage -------
.gallery-about {
  padding-top: 10px;
  padding-bottom: 100px;
  @include s.d-flex($direction: column, $align: center);
  gap: 36px;
  &__text {
    @include s.d-flex($direction: column, $align: center);
    gap: 21px;

    font-family: s.$font__rel;
    h1 {
      margin-right: 7px;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      text-align: center;
    }
  }
  &__link {
    margin-top: 6px;
    @include s.btn-wh-gr();
    @include s.d-flex($direction: column, $align: center, $justify: center);

    width: 234px;
    height: 51px;

    font-family: s.$font__rel;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: s.$color__green-dark;
  }

  @media (min-width: s.$media_768) {
    padding-top: 30px;
    &__text {
      h1 {
        font-size: 35px;
      }
    }
  }
  @media (min-width: s.$media_1440) {
    padding-top: 90px;
    gap: 66px;
    &__text {
      h1 {
        font-size: 45px;
      }
    }
  }
}
// ---------- gallerypage -------
.gallery-section {
  &__container {
    @include s.d-flex($direction: column, $align: center);

    padding: 93px 0 102px 0;
    &__link {
      margin-top: 42px;
      @include s.btn-wh-gr();
      @include s.d-flex($direction: column, $align: center, $justify: center);

      width: 199px;
      height: 51px;

      font-family: s.$font__rel;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
  }
}
// -----item----
.gallery-item {
  position: relative;
  box-sizing: border-box;
  img {
    width: 100%;
    height: auto;
  }
  &__hover {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 36px 18px;

    background: rgba(51, 125, 90, 0.97);
    color: s.$color__white;

    @include s.d-flex($direction: column);
    gap: 23px;

    opacity: 0;

    transition: opacity 0.5s ease;

    h3 {
      font-weight: 800;
      font-size: 22px;
      letter-spacing: 0.01em;
    }
    p {
      max-width: 480px;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.46667;
      color: #fff;
      span {
        font-weight: 700;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
  &__textvideo {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    @include s.d-flex($direction: column, $align: center, $justify: center);
    gap: 15px;

    color: s.$color__white;
    h3 {
      margin-top: 10px;

      font-weight: 800;
      font-size: 22px;
      letter-spacing: 0.01em;
    }
    p {
      max-width: 565px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
    }
  }

  @media (min-width: s.$media_768) {
    img {
      height: 520px;
    }
    &__hover {
      padding: 26px 18px;
    }
  }
  @media (min-width: s.$media_1440) {
    img {
      height: 480px;
    }
    &__hover {
      padding: 56px 28px;
    }
  }
  @media (min-width: s.$media_1920) {
    img {
      height: 100%;
    }
    &__hover {
      padding: 76px 38px;
    }
  }
}

// ---- container one -----
.gallery-container__one {
  @include s.d-flex($direction: row, $align: center, $wrap: wrap);
  gap: 30px 30px;

  width: 100%;

  & .gallery-item__one {
    width: 100%;
  }
  & .gallery-item__two {
    width: 100%;
  }
  & .gallery-item__three {
    height: 400px;
    img {
      height: 100%;
    }
  }
  & .gallery-item__four {
    width: 100%;
  }
  & .gallery-item__five {
    width: 100%;
  }
  & .gallery-item__six {
    width: 100%;
  }

  @media (min-width: s.$media_768) {
    & .gallery-item__one {
      width: calc(334.8 / 588 * 100%);
    }
    & .gallery-item__two {
      width: calc(279 / 588 * 100%);
      width: calc(223.2 / 588 * 100%);
    }
    & .gallery-item__three {
      width: 100%;
      height: auto;
    }
    & .gallery-item__four {
      width: calc(279 / 588 * 100%);
    }
    & .gallery-item__five {
      width: calc(279 / 588 * 100%);
    }
    & .gallery-item__six {
      width: 100%;
    }
  }
  @media (min-width: s.$media_1440) {
    & .gallery-item__one {
      width: calc(1010px * 0.6);
    }
    & .gallery-item__two {
      width: calc(1010px * 0.4);
    }
    & .gallery-item__three {
      width: 100%;
    }
    & .gallery-item__four {
      width: calc(980px * 0.333);
    }
    & .gallery-item__five {
      width: calc(980px * 0.333);
    }
    & .gallery-item__six {
      width: calc(980px * 0.333);
    }
  }
  @media (min-width: s.$media_1920) {
    & .gallery-item__one {
      width: 737px;
    }
    & .gallery-item__two {
      width: 518px;
    }
    & .gallery-item__three {
      & .gallery-item__textvideo {
        margin-top: 57px;
      }
    }
    & .gallery-item__four {
      width: 408px;
    }
    & .gallery-item__five {
      width: 408px;
    }
    & .gallery-item__six {
      width: 408px;
    }
  }
}
// ---- container one gallery -----
.gallery-section-container__one {
  @include s.d-flex($direction: row, $align: center, $wrap: wrap);
  gap: 32px 30px;

  width: 100%;
  margin-bottom: 30px;
  & .gallery-item__one {
    width: 100%;
  }
  & .gallery-item__two {
    width: 100%;
  }
  & .gallery-item__three {
    height: 400px;
    img {
      height: 100%;
    }
  }
  & .gallery-item__four {
    width: 100%;
  }
  & .gallery-item__five {
    width: 100%;
  }
  & .gallery-item__six {
    width: 100%;
  }

  @media (min-width: s.$media_768) {
    & .gallery-item__one {
      width: calc(334.8 / 588 * 100%);
    }
    & .gallery-item__two {
      width: calc(279 / 588 * 100%);
      width: calc(223.2 / 588 * 100%);
    }
    & .gallery-item__three {
      width: 100%;
      height: auto;
    }
    & .gallery-item__four {
      width: calc(279 / 588 * 100%);
    }
    & .gallery-item__five {
      width: calc(279 / 588 * 100%);
    }
    & .gallery-item__six {
      width: 100%;
    }
  }
  @media (min-width: s.$media_1440) {
    & .gallery-item__one {
      width: calc(1010px * 0.6);
    }
    & .gallery-item__two {
      width: calc(1010px * 0.4);
    }
    & .gallery-item__three {
      width: 100%;
    }
    & .gallery-item__four {
      width: calc(980px * 0.333);
    }
    & .gallery-item__five {
      width: calc(980px * 0.333);
    }
    & .gallery-item__six {
      width: calc(980px * 0.333);
    }
  }
  @media (min-width: s.$media_1920) {
    & .gallery-item__one {
      width: 737px;
    }
    & .gallery-item__two {
      width: 518px;
    }
    & .gallery-item__three {
      & .gallery-item__textvideo {
        margin-top: 57px;
      }
    }
    & .gallery-item__four {
      width: 408px;
    }
    & .gallery-item__five {
      width: 408px;
    }
    & .gallery-item__six {
      width: 408px;
      & .gallery-item__textvideo {
        margin-top: 16px;
      }
    }
  }
}
// ---- container two gallery -----
.gallery-section-container__two {
  @include s.d-flex($direction: row, $align: center, $wrap: wrap);
  gap: 32px 30px;

  width: 100%;
  margin-bottom: 30px;

  & .gallery-item__one {
    width: 100%;
  }
  & .gallery-item__two {
    width: 100%;
  }
  & .gallery-item__three {
    height: 400px;
    img {
      height: 100%;
    }
  }
  & .gallery-item__four {
    width: 100%;
  }
  & .gallery-item__five {
    width: 100%;
  }
  & .gallery-item__six {
    width: 100%;
  }

  @media (min-width: s.$media_768) {
    & .gallery-item__one {
      width: calc(334.8 / 588 * 100%);
    }
    & .gallery-item__two {
      width: calc(279 / 588 * 100%);
      width: calc(223.2 / 588 * 100%);
    }
    & .gallery-item__three {
      width: 100%;
      height: auto;
    }
    & .gallery-item__four {
      width: calc(279 / 588 * 100%);
    }
    & .gallery-item__five {
      width: calc(279 / 588 * 100%);
    }
    & .gallery-item__six {
      width: 100%;
    }
  }
  @media (min-width: s.$media_1440) {
    & .gallery-item__one {
      width: calc(1010px * 0.6);
    }
    & .gallery-item__two {
      width: calc(1010px * 0.4);
    }
    & .gallery-item__three {
      width: 100%;
    }
    & .gallery-item__four {
      width: calc(980px * 0.333);
    }
    & .gallery-item__five {
      width: calc(980px * 0.333);
    }
    & .gallery-item__six {
      width: calc(980px * 0.333);
    }
  }
  @media (min-width: s.$media_1920) {
    & .gallery-item__one {
      width: 737px;
    }
    & .gallery-item__two {
      width: 518px;
    }
    & .gallery-item__three {
      & .gallery-item__textvideo {
        margin-top: 57px;
      }
    }
    & .gallery-item__four {
      width: 408px;
    }
    & .gallery-item__five {
      width: 408px;
    }
    & .gallery-item__six {
      width: 408px;
      & .gallery-item__textvideo {
        margin-top: 16px;
      }
    }
  }
}
