@use "../base/globals.scss" as s;

// ---------- header mob ----------
.header-mob {
  position: relative;
  width: 100%;
  @include s.d-flex($direction: column);
  &__first {
    padding: 12px 12px 18px 12px;
    position: relative;
    @include s.d-flex($direction: row, $align: center);
    // gap: 25px;
    gap: 15px;
    &-call {
      @include s.d-flex($direction: row, $justify: center, $align: center);
      gap: 6px;
      svg {
        width: 10px;
        height: 10px;
        fill: s.$color__green-dark;

        transition: fill 0.5s ease;
      }
      a {
        font-weight: 500;
        // font-size: 12px;
        font-size: 11px;
        color: s.$color__black;

        transition: color 0.5s ease;

        span {
          font-weight: 600;
          color: s.$color__green-dark;

          transition: color 0.5s ease;
        }
      }
      &:hover {
        svg {
          fill: s.$color__black;
        }
        a {
          color: s.$color__green-dark;
          span {
            color: s.$color__black;
          }
        }
      }
    }
    &-order {
      font-family: s.$font__rel;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.3;
      color: s.$color__green-dark;
      border-bottom: 1px solid s.$color__green-dark;

      transition: all 0.5s ease;
      &:hover {
        color: s.$color__black;
        border-bottom: 1px solid s.$color__black;
      }
    }
    &-language {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;

      box-sizing: border-box;
      padding: 10px 10px 11px 13px;
      border: 1px solid s.$color__green;
      @include s.d-flex($direction: row, $align: center);
      // gap: 2px;

      transition: border 0.5s ease;
      span {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.02em;
      }
      svg {
        width: 11px;
        height: 8px;
        fill: s.$color__green-dark;
      }
      &:hover {
        border: 1px solid s.$color__green-dark;
      }
    }
  }
  &__two {
    padding: 0 8px 7px 12px;
    @include s.d-flex($direction: row, $align: center, $justify: space-between);
    &-menu {
      background: transparent;
      border: none;
      svg {
        width: 19px;
        height: 17px;
        fill: s.$color__black;

        transition: fill 0.5s ease;
      }
      &:hover {
        svg {
          fill: s.$color__green-dark;
        }
      }
    }
    &-logo {
      margin-top: 2px;
      margin-left: 14px;
      width: 155px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-bag {
      position: relative;

      background: transparent;
      border: none;
      svg {
        width: 33px;
        height: 28px;
      }
      span {
        position: absolute;
        top: 4.5px;
        right: 6.7px;

        font-weight: 600;
        font-size: 8px;
        letter-spacing: 0.02em;
        color: s.$color__white;
      }
    }
  }
  &__three {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 8px 0 10px 0;

    p {
      margin-left: 4px;
      text-align: center;
      font-weight: 600;
      font-size: 13px;
      color: s.$color__green-dark;
    }
  }
  @media (min-width: s.$media_360) {
    &__first {
      gap: 25px;
      &-call {
        a {
          font-size: 12px;
        }
      }
    }
  }
  @media (min-width: s.$media_768) {
    display: none;
  }
}
// ---------- header menu mob ----------
.header-mob-burger {
  position: absolute;
  background: s.$color__white;

  width: 100%;
  top: 0px;
  left: 0%;

  transform: translateX(-100%);
  @include s.d-flex($direction: column);

  pointer-events: none;

  transition: all 0.5s ease;

  &.active {
    // left: 0;
    transform: translateX(0%);

    pointer-events: auto;
  }

  &__first {
    padding: 14px 11px 32px 11px;
    @include s.d-flex($direction: row, $align: center, $justify: space-between);
    &-logo {
      width: 197px;
      height: 33px;
      img {
        width: 197px;
        height: auto;
      }
    }
    &-close {
      background: transparent;
      border: none;
      width: 16px;
      height: 16px;
      svg {
        width: 16px;
        height: 16px;
        fill: s.$color__black;

        transition: fill 0.5s ease;
      }
      &:hover {
        svg {
          fill: s.$color__green-dark;
        }
      }
    }
  }
  &__two {
    padding: 12px 10px;
    @include s.d-flex($direction: row, $align: center, $justify: space-between);
    &-acc {
      @include s.d-flex($direction: row, $align: center);
      gap: 25px;
      &-exit {
        @include s.d-flex($direction: row, $align: center);
        gap: 7px;
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: s.$color__gray-dark;

        transition: color 0.5s ease;
        svg {
          width: 13px;
          height: 13px;
        }

        &:hover {
          color: s.$color__green;
        }
      }
      &-reg {
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.3;
        color: s.$color__gray-dark;

        border-bottom: 1px solid s.$color__green;

        transition: color 0.5s ease;

        &:hover {
          color: s.$color__green;
        }
      }
    }
    &-soc {
      @include s.d-flex($direction: row, $align: center);
      gap: 22px;
      a {
        svg {
          width: 15px;
          height: 15px;
          fill: s.$color__gray-dark;

          transition: fill 0.5s ease;
        }
        &:hover {
          svg {
            fill: s.$color__green;
          }
        }
      }
    }
  }
  &__three {
    @include s.d-flex($direction: column);

    a {
      padding: 15px 12px;

      font-family: s.$font__rel;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.02em;
      background: transparent;
      color: s.$color__blue-dark;

      border: 1px solid rgba(0, 0, 0, 0.04);
      transition: all 0.5s ease;

      &:hover {
        background: s.$color__green-dark;
        font-weight: 700;
        color: s.$color__white;
      }
    }
  }
}
// ---------- header desk -----------
.header-desk {
  display: none;

  @media (min-width: s.$media_768) {
    padding-top: 9px;
    @include s.d-flex($direction: column);
    &__first {
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );

      &-soc {
        @include s.d-flex($direction: row, $align: center);
        gap: 15px;
        li {
          svg {
            width: 13px;
            height: 13px;
            fill: s.$color__gray-dark;

            transition: fill 0.5s ease;
          }
          &:hover {
            svg {
              fill: s.$color__green;
            }
          }
        }
      }
      &-sale {
        margin-left: 0px;
        font-weight: 600;
        font-size: 12px;
        color: s.$color__green-dark;
      }
      &-info {
        @include s.d-flex($direction: row, $align: center);
        gap: 20px;
        &-acc {
          @include s.d-flex($direction: row, $align: center);
          gap: 10px;
          &-ex {
            @include s.d-flex($direction: row, $align: center);
            gap: 6px;

            font-family: s.$font__rel;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0.02em;
            color: s.$color__gray-dark;

            transition: color 0.5s ease;
            svg {
              width: 11px;
              height: 11px;
            }
            &:hover {
              color: s.$color__green;
            }
          }
          &-reg {
            margin-top: 3px;
            font-family: s.$font__rel;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0.02em;
            color: s.$color__gray-dark;

            border-bottom: 2px solid s.$color__green;
            transition: color 0.5s ease;

            &:hover {
              color: s.$color__green;
            }
          }
        }
        &-language {
          cursor: pointer;
          position: relative;
          @include s.d-flex($direction: row, $align: center);
          gap: 4px;
          span {
            font-family: s.$font__rel;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0.02em;
            color: s.$color__black;
          }
          svg {
            width: 8px;
            height: 6px;
            fill: s.$color__green;

            transition: fill 0.5s ease;
          }
          &:hover {
            svg {
              fill: s.$color__black;
            }
          }
        }
      }
    }
    &__two {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      padding-top: 25px;
      padding-bottom: 13px;
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      &-logo {
        margin-left: 0px;
        width: 180px;
        height: 34px;
      }
      &-info {
        @include s.d-flex($direction: row, $align: center);
        &-connect {
          margin-top: 0px;
          margin-right: 20px;

          @include s.d-flex($direction: row, $align: center);
          gap: 15px;

          &-soc {
            @include s.d-flex($direction: row, $align: center);
            gap: 10px;
            li {
              a {
                svg {
                  // width: 31px;
                  width: 23px;
                  // height: 31px;
                  height: 23px;
                  use {
                    --color2: #337d5a;
                    --color1: #fff;

                    transition: all 0.5s ease;
                  }
                }
                &:hover {
                  use {
                    --color2: #93b474;
                  }
                }
              }
            }
          }
          &-tel {
            @include s.d-flex($direction: column);
            gap: 3px;
            a {
              font-weight: 500;
              font-size: 10px;
              color: s.$color__black;

              transition: color 0.5s ease;
              span {
                font-weight: 600;
                color: s.$color__green-dark;
              }

              &:hover {
                color: s.$color__green-dark;
              }
            }
          }
        }
        &-call {
          margin-right: 20px;
          @include s.d-flex($direction: row, $align: center);
          gap: 15px;
          button {
            box-sizing: border-box;
            padding: 12px 15px 12px 15px;
            font-family: s.$font__rel;
            font-weight: 600;
            font-size: 10px;
            letter-spacing: 0.02em;
            color: s.$color__white;

            background: s.$color__green-dark;
            border: 1px solid transparent;

            transition: all 0.5s ease;
            &:hover {
              border: 1px solid s.$color__green-dark;
              color: s.$color__green-dark;
              background: s.$color__white;
            }
          }
          p {
            display: none;
          }
        }
        &-bag {
          position: relative;
          @include s.d-flex($direction: row, $align: center, $justify: center);

          background: transparent;
          border: none;
          margin-bottom: 6px;
          margin-right: -6px;
          svg {
            width: 36px;
            height: 30px;
          }
          span {
            position: absolute;
            top: 6px;
            right: 8.5px;

            font-weight: 700;
            font-size: 8px;
            color: s.$color__white;
          }
        }
      }
    }

    &__three {
      padding-top: 20px;
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      a {
        box-sizing: border-box;
        padding: 0 0px 16px 0px;

        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.02em;
        color: s.$color__blue-dark;

        transition: color 0.5s ease;
        &.active-link {
          border-bottom: 3px solid s.$color__green-dark;
          font-weight: 600;
          color: s.$color__green-dark;
        }
        &:hover {
          color: s.$color__green-dark;
        }
      }
    }
  }
  @media (min-width: s.$media_1440) {
    &__first {
      &-soc {
        gap: 18px;
      }
      &-sale {
        font-size: 14px;
      }
      &-info {
        gap: 48px;
        &-acc {
          gap: 26px;
        }
      }
    }
    &__two {
      &-logo {
        width: 217px;
        height: 54px;
      }
      &-info {
        &-connect {
          margin-right: 90px;

          gap: 32px;

          &-soc {
            li {
              a {
                svg {
                  width: 31px;
                  height: 31px;
                }
              }
            }
          }
          &-tel {
            a {
              font-size: 13px;
            }
          }
        }
        &-call {
          margin-right: 59px;
          button {
            padding: 12px 21px 14px 21px;
            font-size: 13px;
          }
        }
      }
    }

    &__three {
      padding-top: 23px;
      a {
        padding: 0 2px 16px 2px;
      }
    }
  }
  @media (min-width: s.$media_1920) {
    &__first {
      &-sale {
        margin-left: 185px;
      }
    }
    &__two {
      &-logo {
        margin-left: -2px;
      }
      &-info {
        &-connect {
          margin-top: -5px;
        }
        &-call {
          p {
            display: block;
            width: 143px;

            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.02em;
            color: s.$color__gray;
          }
        }
      }
    }

    &__three {
      padding: 23px 389px 0 390px;
      a {
        font-size: 15px;
      }
    }
  }
}
