@use "../base/globals.scss" as s;

// ------ breadcrumbs -------
.breadcrumbs {
  position: relative;
  &__info {
    position: absolute;
    top: 33px;

    @include s.d-flex($direction: row, $align: center);
    gap: 9px;

    font-family: s.$font__rel;
    font-weight: 600;
    font-size: 13.5px;
    color: s.$color__white;

    span {
      font-weight: 800;
      font-size: 15px;
    }
    a {
      margin-left: -2px;

      color: s.$color__white;
      transition: color 0.5s ease;

      &:hover {
        color: s.$color__gray;
      }
    }
    p {
      letter-spacing: 0.02em;
    }
  }
}

// ---------- homepage ---------
.hero-home {
  width: 100%;
  min-height: 417px;

  background-image: url("../img/homepage/hero-mob.webp");
  @include s.bgr();

  @media (min-width: s.$media_768) {
    background-image: url("../img/homepage/hero-desk.webp");
  }
  @media (min-width: s.$media_1440) {
    min-height: 600px;
  }
  @media (min-width: s.$media_1920) {
  }
}

// ----------- aboutpage --------
.hero-about {
  width: 100%;
  min-height: 417px;

  background-image: url("../img/components/aboutpage/hero.png");
  @include s.bgr();

  @media (min-width: s.$media_1440) {
    min-height: 600px;
  }
}

// --------- corporatepage ----------
.hero-corporate {
  width: 100%;
  min-height: 417px;

  background-image: url("../img/components/corporatepage/hero.png");
  @include s.bgr();

  @media (min-width: s.$media_1440) {
    min-height: 600px;
  }
  &__text {
    padding: 150px 10px 0 10px;
    @include s.d-flex($direction: column, $align: center);
    gap: 21px;
    text-align: center;

    color: s.$color__white;
    font-family: s.$font__rel;

    h1 {
      font-weight: 800;
      font-size: 26px;
      letter-spacing: 0.01em;
    }
    p {
      max-width: 600px;
      font-weight: 600;
      font-size: 17px;
      letter-spacing: 0.01em;
      line-height: 1.35;
      text-align: center;
    }

    @media (min-width: s.$media_768) {
    }
    @media (min-width: s.$media_1440) {
      padding-top: 238px;
      gap: 31px;

      h1 {
        font-size: 62px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
// ----------- paymentpage --------
.hero-payment {
  width: 100%;
  min-height: 250px;

  background-image: url("../img/components/paymentpage/hero.png");
  @include s.bgr();

  @media (min-width: s.$media_1440) {
    min-height: 298px;
  }

  &__text {
    padding-top: 97px;
    @include s.d-flex($direction: column, $align: center);

    h1 {
      font-family: s.$font__rel;
      font-weight: 800;
      // font-size: 62px;
      font-size: 32px;
      color: s.$color__white;
    }
    @media (min-width: s.$media_1440) {
      padding-top: 117px;
      h1 {
        font-size: 62px;
      }
    }
  }
}
// --------- gallerypage ----------
.hero-gallery {
  width: 100%;
  min-height: 417px;

  background-image: url("../img/components/gallerypage/hero.png");
  @include s.bgr();

  @media (min-width: s.$media_1440) {
    min-height: 600px;
  }
  &__text {
    padding: 150px 10px 0 10px;
    @include s.d-flex($direction: column, $align: center);
    gap: 12px;
    text-align: center;

    color: s.$color__white;
    font-family: s.$font__rel;

    h1 {
      font-weight: 800;
      font-size: 26px;
      letter-spacing: 0.01em;
    }
    p {
      max-width: 600px;
      font-weight: 600;
      font-size: 17px;
      letter-spacing: -0.01em;
      line-height: 1.35;
      text-align: center;
    }

    @media (min-width: s.$media_768) {
    }
    @media (min-width: s.$media_1440) {
      padding-top: 238px;

      h1 {
        font-size: 62px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
// --------- video hero ----------
.hero {
  position: relative;
  overflow: hidden;
  &.playing {
    background-image: none;
  }
}
.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  // @media (min-width: s.$media_768) {
  // }
  // @media (min-width: s.$media_1440) {
  //   height: 600px;
  //   iframe {
  //     height: 600px;
  //   }
  // }
  // @media (min-width: s.$media_1920) {
  // }
}

// ---------- text in homepage aboutpage -----------
.hero-one {
  @include s.d-flex($direction: column, $align: center);
  text-align: center;

  font-family: s.$font__rel;
  color: s.$color__white;
  margin-bottom: 8px;
  margin-top: 95px;

  h1 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 26px;
    letter-spacing: 0.01em;
  }
  p {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 17px;
    line-height: 1.35;
    letter-spacing: 0.01em;
    text-align: center;
  }
  button {
    @include s.d-flex($direction: column, $align: center, $justify: center);

    border-radius: 100%;
    background: transparent;
    border: none;

    transition: all 0.5s ease;

    svg {
      width: 45px;
      height: 45px;

      use {
        --color1: #fff;

        transition: all 0.5s ease;
      }
    }
    &:hover {
      background: s.$color__green-dark;
    }
  }
  @media (min-width: s.$media_1440) {
    margin-top: 195px;
    margin-bottom: 0px;
    gap: 30px;

    h1 {
      margin-bottom: 0px;

      font-size: 62px;
    }
    p {
      width: 700px;
      margin-bottom: 0px;

      font-size: 25px;
      line-height: 1.35;
    }
    button {
      svg {
        width: 61px;
        height: 61px;
      }
    }
  }
  @media (min-width: s.$media_1920) {
  }
}
