@use "../base/globals.scss" as s;

// ----------swiper--------
.manufacturer__images {
  display: none;

  @media (min-width: s.$media_360) {
    display: block;
    width: 100%;
    height: auto;
    &-swiper {
      width: 100%;
      overflow: hidden;
      position: relative;
      &-slide {
        position: relative;
        width: 100%;
        @include s.d-flex($direction: column, $align: center, $justify: center);
        img {
          width: 100%;
          height: 100%;
        }
        button {
          display: none;
        }
      }
      &-buttons {
        @include s.d-flex($direction: row, $align: center, $justify: center);
        gap: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        button {
          padding: 19px 24px;
          border: none;
          background: s.$color__green-dark;
          svg {
            width: 22px;
            height: 18px;
            fill: rgba(255, 255, 255, 0.5);

            transition: fill 0.5s ease;
          }
          &:hover {
            svg {
              fill: s.$color__white;
            }
          }
        }
      }
    }
  }
  @media (min-width: s.$media_1440) {
    width: 700px;
    height: 472px;
    &-swiper {
      &-slide {
        button {
          position: absolute;
          top: 44.5%;
          left: 46.3%;

          background: transparent;
          border: none;
          border-radius: 100%;
          @include s.d-flex(
            $direction: column,
            $align: center,
            $justify: center
          );

          transition: background 0.5s ease;
          svg {
            width: 61px;
            height: 61px;
          }
          &:hover {
            background: s.$color__green-dark;
          }
        }
      }
    }
  }
}
// ------home-----
.manufacturer-home {
  padding-top: 10px;
  padding-bottom: 90px;
  @include s.d-flex($direction: column);
  gap: 35px;
  &__info {
    margin-left: -2px;
    @include s.d-flex($direction: column, $align: center);
    gap: 42px;

    &-title {
      font-family: s.$font__rel;
      font-weight: 800;
      font-size: 25px;
      letter-spacing: 0.01em;
      color: s.$color__blue-dark;
    }
    &-desc {
      @include s.d-flex($direction: column);
      gap: 26px;
      p {
        text-align: center;
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: s.$color__blue-dark;
        span {
          font-weight: 600;
          color: s.$color__green-dark;
        }
      }
    }
    &-btn {
      margin-top: 5px;
      @include s.d-flex($direction: column, $justify: center, $align: center);

      width: 168px;
      height: 50px;
      @include s.btn-wh-gr();

      font-family: s.$font__rel;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
  }

  @media (min-width: s.$media_768) {
    padding-top: 20px;

    &__info {
      @include s.d-flex($direction: column);
      &-desc {
        p {
          text-align: left;
        }
      }
      &-title {
        font-size: 45px;
      }
    }
  }
  @media (min-width: s.$media_1440) {
    padding-top: 100px;
    @include s.d-flex($direction: row, $justify: space-between);
    gap: 20px;
    &__info {
      max-width: 497px;

      &-title {
        font-size: 45px;
      }
    }
  }
  @media (min-width: s.$media_1920) {
    padding-top: 100px;
    @include s.d-flex($direction: row, $justify: space-between);
    gap: 0px;
    &__info {
      padding-top: 25px;

      &-desc {
        & p:first-of-type {
          width: 433px;
        }
      }
    }
  }
}
// ------about------
.manufacturer-about {
  padding-top: 10px;
  padding-bottom: 91px;
  @include s.d-flex($direction: column);
  gap: 35px;
  &__info {
    margin-left: -2px;
    @include s.d-flex($direction: column, $align: center);
    gap: 43px;

    &-title {
      font-family: s.$font__rel;
      font-weight: 800;
      font-size: 25px;
      letter-spacing: 0.01em;
      color: s.$color__blue-dark;
    }
    &-desc {
      @include s.d-flex($direction: column);
      gap: 26px;
      p {
        text-align: center;
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.59;
        color: s.$color__blue-dark;
      }
    }
  }

  @media (min-width: s.$media_768) {
    padding-top: 20px;

    &__info {
      @include s.d-flex($direction: column);
      &-desc {
        p {
          text-align: left;
        }
      }
      &-title {
        font-size: 45px;
      }
    }
  }
  @media (min-width: s.$media_1440) {
    padding-top: 100px;
    @include s.d-flex($direction: row, $justify: space-between);
    gap: 20px;
    &__info {
      max-width: 527px;

      &-title {
        font-size: 45px;
      }
    }
  }
  @media (min-width: s.$media_1920) {
    padding-top: 98px;
    @include s.d-flex($direction: row, $justify: space-between);
    gap: 0px;
    &__info {
      padding-top: 28px;

      &-desc {
        & p:first-of-type {
          width: 433px;
        }
      }
    }
  }
}
