@use "../base/globals.scss" as s;

.map {
  padding-top: 10px;
  padding-bottom: 80px;
  @include s.d-flex($direction: column);
  gap: 40px;

  &__info {
    margin-left: -2px;

    @include s.d-flex($direction: column);

    &-title {
      font-family: s.$font__rel;
      font-weight: 800;
      font-size: 35px;
      letter-spacing: 0.01em;
      color: s.$color__blue-dark;

      margin-left: -3px;
      margin-top: 10px;
      margin-bottom: 70px;
    }
    &-contacts {
      @include s.d-flex($direction: column);
      gap: 46px;

      margin-bottom: 43px;
      &-tel {
        @include s.d-flex($direction: row, $align: center);
        gap: 16px;
        svg {
          width: 14px;
          height: 14px;
          fill: s.$color__green-dark;
        }
        ul {
          @include s.d-flex($direction: column);
          gap: 5px;
          li {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 0.01em;
            color: s.$color__blue-dark;
          }
        }
      }
      &-soc {
        @include s.d-flex($direction: row, $align: center);
        gap: 10px;
        a {
          svg {
            width: 31px;
            height: 31px;
            use {
              --color2: #337d5a;
              --color1: #fff;

              transition: all 0.5s ease;
            }
          }
          &:hover {
            use {
              --color2: #93b474;
            }
          }
        }
      }
    }
    &-email {
      @include s.d-flex($direction: row, $align: center);
      gap: 15px;

      margin-bottom: 45px;
      svg {
        width: 17px;
        height: 15px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: s.$color__blue-dark;
      }
    }
    &-adress {
      @include s.d-flex($direction: row);
      gap: 14px;

      margin-bottom: 36px;
      svg {
        width: 16px;
        height: 16px;
      }
      &-text {
        @include s.d-flex($direction: column);
        gap: 19px;
        h2 {
          font-family: s.$font__rel;
          font-weight: 800;
          font-size: 17px;
          letter-spacing: 0.01em;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 0.01em;
        }
      }
    }
    &-place {
      @include s.d-flex($direction: row);
      gap: 14px;

      svg {
        width: 16px;
        height: 19px;
      }
      &-text {
        @include s.d-flex($direction: column);
        gap: 18px;
        h2 {
          font-family: s.$font__rel;
          font-weight: 800;
          font-size: 17px;
          letter-spacing: 0.01em;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 0.01em;
        }
      }
    }
  }

  &__div {
    width: 100%;
    height: 418px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: s.$media_768) {
    @include s.d-flex($direction: row, $justify: space-between);
    gap: 70px;

    &__div {
      height: 618px;
    }
  }
  @media (min-width: s.$media_1440) {
    padding-top: 101px;
    @include s.d-flex($direction: row, $justify: space-between);
    gap: 70px;
    &__info {
      &-title {
        font-size: 45px;
      }
      &-contacts {
        @include s.d-flex($direction: row, $align: center);
      }
    }

    &__div {
      height: 518px;
      width: 618px;
    }
  }
  @media (min-width: s.$media_1920) {
    gap: 0px;

    &__div {
      width: 739px;
    }
  }
}
