@use "../base/globals.scss" as s;


.news-el {
  padding-top: 80px;
  padding-bottom: 90px;
  @include s.d-flex($direction: column);
  gap: 63px;
  &__info {
    margin-bottom: 60px;
    @include s.d-flex($direction: column);
    gap: 32px;

    font-family: s.$font__rel;
    color: s.$color__blue-dark;
    h1 {
      margin-left: -3px;
      font-weight: 800;
      font-size: 28px;
      letter-spacing: 0.01em;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.22222;
      letter-spacing: 0.01em;
    }
  }
  &-div {
    position: relative;

    & .news-el__swiper-buttons {
      position: absolute;
      right: 0;
      top: -80px;

      @include s.d-flex($direction: row, $align: center);
      gap: 0;
      button {
        padding: 19px 24px;
        background: s.$color__green-dark;
        border: none;

        svg {
          width: 22px;
          height: 19px;
          fill: rgba(255, 255, 255, 0.5);

          transition: fill 0.5s ease;
        }

        &:hover {
          svg {
            fill: s.$color__white;
          }
        }
      }
    }

    & .news-el__swiper {
      position: relative;
      width: 100%;
      overflow: hidden;

      &-item {
        max-width: 400px;
        &-img {
          position: relative;
          width: 100%;
          height: 270px;
          img {
            height: 270px;
          }
          button {
            display: none;
            // position: absolute;

            // background: transparent;
            // border: none;
            // border-radius: 100%;
            // @include s.d-flex($direction: row, $align: center, $justify: center);

            // top: 105px;
            // left: 173px;

            // transition: background 0.5s ease;
            // svg {
            //   width: 61px;
            //   height: 61px;
            // }
            // &:hover {
            //   background: s.$color__green-dark;
            // }
          }
        }
        &-info {
          padding: 22px 20px 24px 15px;
          background: s.$color__white;
          @include s.d-flex($direction: column);
          gap: 13px;
          span {
            font-weight: 500;
            font-size: 13px;
            line-height: 1.69231;
            letter-spacing: 0.01em;
            color: s.$color__gray;
          }
          h3 {
            font-family: s.$font__rel;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.01em;
            color: s.$color__blue-dark;
          }
          p {
            font-family: s.$font__rel;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.42857;
            letter-spacing: 0.01em;
            color: s.$color__blue-dark;

            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
          a {
            margin-top: 10px;
            font-family: s.$font__rel;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.42857;
            letter-spacing: 0.01em;
            color: s.$color__blue-dark;

            @include s.d-flex($direction: row, $align: center);
            gap: 8px;

            transition: color 0.5s ease;
            svg {
              width: 18px;
              height: 18px;
              fill: s.$color__blue-dark;

              transition: fill 0.5s ease;
            }
            &:hover {
              color: s.$color__green-dark;
              svg {
                fill: s.$color__green-dark;
              }
            }
          }
        }
      }
    }
  }
  &__link {
    margin: 4px auto 0 auto;
    @include s.btn-wh-gr();
    @include s.d-flex($direction: column, $justify: center, $align: center);

    width: 223px;
    height: 50px;

    font-family: s.$font__rel;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: s.$color__green-dark;
  }

  @media (min-width: s.$media_768) {
    &__info {
      margin-bottom: 0px;
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 18px;
      }
    }
    &-div {
      & .news-el__swiper-buttons {
        top: -100px;
      }

      & .news-el__swiper {
        &-item {
          &-img {
            button {
              display: none;
            }
          }
          &-info {
            padding: 22px 20px 24px 15px;
          }
        }
      }
    }
  }
  @media (min-width: s.$media_1440) {
    &-div {
      & .news-el__swiper-buttons {
        top: -140px;
      }

      & .news-el__swiper {
        &-item {
          max-width: none;
          &-img {
            button {
              position: absolute;

              background: transparent;
              border: none;
              border-radius: 100%;
              @include s.d-flex(
                $direction: row,
                $align: center,
                $justify: center
              );

              top: 105px;
              left: 133px;

              transition: background 0.5s ease;
              svg {
                width: 61px;
                height: 61px;
              }
              &:hover {
                background: s.$color__green-dark;
              }
            }
          }
          &-info {
            padding: 22px 20px 24px 15px;
          }
        }
      }
    }
  }
  @media (min-width: s.$media_1920) {
    &-div {
      & .news-el__swiper {
        &-item {
          &-img {
            button {
              top: 105px;
              left: 173px;
            }
          }
          &-info {
            padding: 22px 30px 34px 22px;
          }
        }
      }
    }
  }
}
.news-about {
  padding-top: 86px;
}
