@use "../base/globals.scss" as s;

.products-home {
  @include s.d-flex($direction: column, $align: center);
  gap: 66px;
  // gap: 46px;
  &.section {
    padding-top: 83px;
  }
  &__info {
    @include s.d-flex($direction: column, $align: center);
    gap: 30px;

    font-family: s.$font__rel;
    h2 {
      font-weight: 800;
      font-size: 45px;
      letter-spacing: 0.01em;
    }
    p {
      max-width: 620px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      letter-spacing: 0.01em;
      text-align: center;
    }
  }
  &__store {
    cursor: pointer;

    padding: 17.5px 27.5px;
    border: 1.5px solid s.$color__green-dark;
    background: s.$color__white;

    font-family: s.$font__rel;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: s.$color__green-dark;

    transition: all 0.5s ease;

    &:hover {
      background: s.$color__green-dark;
      color: s.$color__white;
    }
  }
}
.products {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 49px;
  align-items: center;
  &__item {
    width: 300px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    @include s.d-flex($direction: column, $align: center);

    &-flag {
      position: absolute;
      top: 0px;
      width: 82px;
      height: 32px;
      svg {
        width: 82px;
        height: 82px;
      }
      p {
        position: absolute;
        top: 0;
        font-family: s.$font__rel;
        font-weight: 800;
        font-size: 10px;
        letter-spacing: 0.06em;
        // color: #fff;
      }
      &-sale {
        svg {
          fill: #dd133b;
        }
      }
      &-new {
        svg {
          fill: #e1843e;
        }
      }
    }
    .swiper-products {
      width: 100%;
      overflow: hidden;
      position: relative;
      & .swiper-slide {
        width: 100%;
        display: block;
      }
    }
  }
}
