@use "../base/globals.scss" as s;

.register {
  padding-top: 98px;
  padding-bottom: 92px;

  @include s.d-flex($direction: column);
  gap: 20px;

  &__title {
    margin-left: -4px;

    font-family: s.$font__rel;
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.01em;
  }
  &-container {
    margin-left: -3px;

    @include s.d-flex($direction: row);
    gap: 268px;

    &__one {
      width: 474px;
      box-sizing: border-box;
      @include s.d-flex($direction: column);
      &-contact {
        padding-bottom: 46px;

        @include s.d-flex($direction: column);
        gap: 33px;
        &-title {
          font-weight: 700;
          font-size: 17px;
          line-height: 1.88235;
          letter-spacing: 0.01em;
        }
        &-tabs {
          box-sizing: border-box;
          @include s.d-flex(
            $direction: row,
            $justify: space-between,
            $align: center
          );
          padding: 0 45px 13px 33px;

          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);

          li {
            position: relative;
            font-weight: 500;
            font-size: 15px;
            line-height: 1.13333;
            color: s.$color__black;

            @include s.d-flex(
              $direction: row,
              $align: center,
              $justify: center
            );

            &::after {
              content: "";
              position: absolute;
              bottom: -15px;

              width: 210px;
              height: 3px;

              background-color: s.$color__green-dark;

              opacity: 0;

              transition: opacity 0.5s ease;
            }
            &:hover {
              font-weight: 700;
              font-size: 15px;
              line-height: 1.13333;
            }
            &.active {
              font-weight: 700;
              font-size: 15px;
              line-height: 1.13333;
              &::after {
                opacity: 1;
              }
            }
          }
        }
        &-forms {
          padding-top: 10px;
          @include s.d-flex($direction: column);
          gap: 15px;

          input {
            height: 47px;
            width: 100%;
            @include s.input-reg();
          }
        }
      }
      &-adress {
        padding-bottom: 46px;

        @include s.d-flex($direction: column);
        gap: 20px;
        &-title {
          font-weight: 700;
          font-size: 17px;
          line-height: 1.88235;
          letter-spacing: 0.01em;
        }
        &-forms {
          @include s.d-flex($direction: column);
          gap: 15px;

          &-input-country {
            position: relative;
            box-sizing: border-box;
            width: 100%;

            &-active {
              cursor: pointer;
              box-sizing: border-box;

              background: s.$color__white;
              border: 1.5px solid rgba(0, 0, 0, 0.1);
              height: 48px;
              width: 100%;
              padding: 18px 15px 15px 17px;
              @include s.d-flex(
                $direction: row,
                $align: center,
                $justify: space-between
              );

              transition: all 0.5s ease;
              p {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.21429;
              }
              svg {
                width: 11px;
                height: 11px;

                fill: s.$color__green;

                transition: fill 0.5s ease;
              }
              &:hover {
                background: rgba(51, 125, 90, 0.1);

                border: 1.5px solid s.$color__green-dark;

                svg {
                  fill: s.$color__green-dark;
                }
              }
            }
            &-variant {
              z-index: 20;
              box-sizing: border-box;
              position: absolute;
              top: 48px;
              left: 0;

              width: 100%;

              @include s.d-flex($direction: column);
              border: 1px solid rgba(0, 0, 0, 0.08);
              background: s.$color__white;

              display: none;

              li {
                cursor: pointer;
                box-sizing: border-box;
                padding: 13px 17px;
                background: s.$color__white;

                font-weight: 500;
                font-size: 14px;
                line-height: 1.21429;
                color: s.$color__gray-dark;

                transition: background 0.5s ease, color 0.5s ease;

                &:hover {
                  color: s.$color__white;
                  background: s.$color__green-dark;
                }
              }
              hr {
                padding: 0;
                margin: 0 15px 0 17px;
                border: 1px solid rgba(0, 0, 0, 0.08);
              }
              &.active {
                @include s.d-flex($direction: column);
              }
            }
          }
          &-input-region {
            position: relative;
            box-sizing: border-box;
            width: 100%;

            &-active {
              cursor: pointer;
              box-sizing: border-box;

              background: s.$color__white;
              border: 1.5px solid rgba(0, 0, 0, 0.1);
              height: 48px;
              width: 100%;
              padding: 18px 15px 15px 17px;
              @include s.d-flex(
                $direction: row,
                $align: center,
                $justify: space-between
              );

              transition: all 0.5s ease;
              p {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.21429;
              }
              svg {
                width: 11px;
                height: 11px;

                fill: s.$color__green;

                transition: fill 0.5s ease;
              }
              &:hover {
                background: rgba(51, 125, 90, 0.1);

                border: 1.5px solid s.$color__green-dark;

                svg {
                  fill: s.$color__green-dark;
                }
              }
            }
            &-variant {
              z-index: 20;
              box-sizing: border-box;
              position: absolute;
              top: 48px;
              left: 0;

              width: 100%;

              @include s.d-flex($direction: column);
              border: 1px solid rgba(0, 0, 0, 0.08);
              background: s.$color__white;

              display: none;

              li {
                cursor: pointer;
                box-sizing: border-box;
                padding: 13px 17px;
                background: s.$color__white;

                font-weight: 500;
                font-size: 14px;
                line-height: 1.21429;
                color: s.$color__gray-dark;

                transition: background 0.5s ease, color 0.5s ease;

                &:hover {
                  color: s.$color__white;
                  background: s.$color__green-dark;
                }
              }
              hr {
                padding: 0;
                margin: 0 15px 0 17px;
                border: 1px solid rgba(0, 0, 0, 0.08);
              }
              &.active {
                @include s.d-flex($direction: column);
              }
            }
          }
          input {
            height: 47px;
            width: 100%;
            @include s.input-reg();
          }
        }
      }
      &-password {
        padding-bottom: 21px;

        @include s.d-flex($direction: column);
        gap: 20px;
        &-title {
          font-weight: 700;
          font-size: 17px;
          line-height: 1.88235;
          letter-spacing: 0.01em;
        }
        &-forms {
          @include s.d-flex($direction: column);
          gap: 15px;

          input {
            height: 47px;
            width: 100%;
            @include s.input-reg();
          }
        }
      }
      &-conditions {
        padding-bottom: 18px;
        @include s.d-flex($direction: row, $align: center);
        gap: 10px;

        font-weight: 500;
        font-size: 13px;
        line-height: 2.46154;
        letter-spacing: 0.01em;
        color: #8a8a8a;
        span {
          font-weight: 600;
          font-size: 13px;
          line-height: 2.46154;
          letter-spacing: 0.01em;
          color: s.$color__green-dark;
        }
        input {
          margin: 0;
        }
      }
      &-link {
        @include s.d-flex($direction: row, $align: center, $justify: center);

        width: 100%;
        height: 50px;

        @include s.btn-gr-wh();

        font-family: s.$font__rel;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.0625;
      }
    }
    &__two {
      margin-top: 65px;
      @include s.d-flex($direction: column);
      gap: 18px;
      &-img {
        position: relative;
        width: 131px;
        height: 170px;

        @include s.d-flex($direction: column, $align: center, $justify: center);

        img {
          width: 100%;
          height: 100%;
        }
        p {
          cursor: pointer;
          margin-top: 10px;
          position: absolute;

          // left: 0;
          // top: 50%;
          font-weight: 600;
          font-size: 13px;
          line-height: 1.30769;
          color: s.$color__white;

          border-bottom: 1.5px dashed #fff;
        }
      }
      &-variant {
        &-fiz {
          @include s.d-flex($direction: row, $align: center);

          gap: 10px;

          font-weight: 500;
          font-size: 13px;
          line-height: 2.46154;
          letter-spacing: 0.01em;
          color: #8a8a8a;
          input {
            margin: 0;

            border: 1px solid s.$color__green-dark;
          }
        }
        &-fop {
          @include s.d-flex($direction: column);
          gap: 6px;
          label {
            @include s.d-flex($direction: row, $align: center);

            gap: 12px;

            font-weight: 500;
            font-size: 13px;
            line-height: 1.76154;
            letter-spacing: 0.01em;
            color: #8a8a8a;

            input {
              margin: 0;
            }
          }
        }
      }
      &-other {
        margin-top: 33px;
        width: 474px;

        &-variant {
          margin-left: -2px;
          @include s.d-flex($direction: column);
          gap: 48px;
          &-rec {
            @include s.d-flex($direction: column);
            gap: 20px;
            h2 {
              font-weight: 700;
              font-size: 17px;
              line-height: 1.88235;
              letter-spacing: 0.01em;
            }
            input {
              height: 47px;
              width: 100%;
              @include s.input-reg();
            }
          }
          &-adress {
            @include s.d-flex($direction: column);
            gap: 20px;
            h2 {
              font-weight: 700;
              font-size: 17px;
              line-height: 1.88235;
              letter-spacing: 0.01em;
            }
            &-forms {
              @include s.d-flex($direction: column);
              gap: 15px;

              &-country {
                position: relative;
                box-sizing: border-box;
                width: 100%;

                &-active {
                  cursor: pointer;
                  box-sizing: border-box;

                  background: s.$color__white;
                  border: 1.5px solid rgba(0, 0, 0, 0.1);
                  height: 48px;
                  width: 100%;
                  padding: 18px 15px 15px 17px;
                  @include s.d-flex(
                    $direction: row,
                    $align: center,
                    $justify: space-between
                  );

                  transition: all 0.5s ease;
                  p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.21429;
                  }
                  svg {
                    width: 11px;
                    height: 11px;

                    fill: s.$color__green;

                    transition: fill 0.5s ease;
                  }
                  &:hover {
                    background: rgba(51, 125, 90, 0.1);

                    border: 1.5px solid s.$color__green-dark;

                    svg {
                      fill: s.$color__green-dark;
                    }
                  }
                }
                &-variant {
                  z-index: 20;
                  box-sizing: border-box;
                  position: absolute;
                  top: 48px;
                  left: 0;

                  width: 100%;

                  @include s.d-flex($direction: column);
                  border: 1px solid rgba(0, 0, 0, 0.08);
                  background: s.$color__white;

                  display: none;

                  li {
                    cursor: pointer;
                    box-sizing: border-box;
                    padding: 13px 17px;
                    background: s.$color__white;

                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.21429;
                    color: s.$color__gray-dark;

                    transition: background 0.5s ease, color 0.5s ease;

                    &:hover {
                      color: s.$color__white;
                      background: s.$color__green-dark;
                    }
                  }
                  hr {
                    padding: 0;
                    margin: 0 15px 0 17px;
                    border: 1px solid rgba(0, 0, 0, 0.08);
                  }
                  &.active {
                    @include s.d-flex($direction: column);
                  }
                }
              }
              &-region {
                position: relative;
                box-sizing: border-box;
                width: 100%;

                &-active {
                  cursor: pointer;
                  box-sizing: border-box;

                  background: s.$color__white;
                  border: 1.5px solid rgba(0, 0, 0, 0.1);
                  height: 48px;
                  width: 100%;
                  padding: 18px 15px 15px 17px;
                  @include s.d-flex(
                    $direction: row,
                    $align: center,
                    $justify: space-between
                  );

                  transition: all 0.5s ease;
                  p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.21429;
                  }
                  svg {
                    width: 11px;
                    height: 11px;

                    fill: s.$color__green;

                    transition: fill 0.5s ease;
                  }
                  &:hover {
                    background: rgba(51, 125, 90, 0.1);

                    border: 1.5px solid s.$color__green-dark;

                    svg {
                      fill: s.$color__green-dark;
                    }
                  }
                }
                &-variant {
                  z-index: 20;
                  box-sizing: border-box;
                  position: absolute;
                  top: 48px;
                  left: 0;

                  width: 100%;

                  @include s.d-flex($direction: column);
                  border: 1px solid rgba(0, 0, 0, 0.08);
                  background: s.$color__white;

                  display: none;

                  li {
                    cursor: pointer;
                    box-sizing: border-box;
                    padding: 13px 17px;
                    background: s.$color__white;

                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.21429;
                    color: s.$color__gray-dark;

                    transition: background 0.5s ease, color 0.5s ease;

                    &:hover {
                      color: s.$color__white;
                      background: s.$color__green-dark;
                    }
                  }
                  hr {
                    padding: 0;
                    margin: 0 15px 0 17px;
                    border: 1px solid rgba(0, 0, 0, 0.08);
                  }
                  &.active {
                    @include s.d-flex($direction: column);
                  }
                }
              }
              input {
                height: 47px;
                width: 100%;
                @include s.input-reg();
              }
            }
          }
        }
      }
    }
  }
}
.register-container__two-other-ur-adress-forms-country-variant {
  &.active {
    @include s.d-flex($direction: column);
  }
}
.register-container__two-other-ur-adress-forms-region-variant {
  &.active {
    @include s.d-flex($direction: column);
  }
}
.register-container__two-other-fop-adress-forms-country-variant {
  &.active {
    @include s.d-flex($direction: column);
  }
}
.register-container__two-other-fop-adress-forms-region-variant {
  &.active {
    @include s.d-flex($direction: column);
  }
}
