<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container order-history">
  <include src="components/accountNav.html"></include>
  <div class="order-history__info">
    <div class="order-history__info-desc">
      <p>Ваш личный менеджер Олег</p>
      <div class="order-history__info-desc-tel">
        <svg>
          <use href="../img/sprite.svg#icon-tel-mob"></use>
        </svg>
        <span>+38 067 777 14 12</span>
      </div>
    </div>
    <div class="order-history__info-table-wrappper">
			<table class="order-history__info-table">
      <thead>
        <tr>
          <th class="col-id">
            № Заказа
            <svg>
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </th>
          <th class="col-date">
            Дата
            <svg>
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </th>
          <th class="col-count">
            Кол-во товаров
            <svg>
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </th>
          <th class="col-status">
            Статус
            <svg>
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </th>
          <th class="col-price">
            Стоимость
            <svg>
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </th>
          <th class="col-actions">
            Функции
            <svg>
              <use href="../img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>23</td>
          <td>3.05.2019</td>
          <td>13</td>
          <td>Отправлено</td>
          <td>2500 грн.</td>
          <td>
            <svg>
              <use href="../img/sprite.svg#icon-eye"></use>
            </svg>
            <svg>
              <use href="../img/sprite.svg#icon-copy"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <td>24</td>
          <td>10.05.2019</td>
          <td>15</td>
          <td>В ожидании</td>
          <td>2400 грн.</td>
          <td>
            <svg>
              <use href="../img/sprite.svg#icon-eye"></use>
            </svg>
            <svg>
              <use href="../img/sprite.svg#icon-copy"></use>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
		</div>
  </div>
</section>
