<section class="container benefits">
  <div class="benefits__info">
    <h1>О пользе продукта</h1>
    <p>
      Каждый вид ореха содержит свой неповторимый уникальный баланс витаминов, и
      микроэлементов
    </p>
  </div>
  <ul class="benefits__list">
    <li class="benefits__list-item benefits__list-item-one">
      <img src="../img/components/benefits/image-1.webp" alt="walnut" />

      <svg>
        <use href="../img/sprite.svg#icon-walnut"></use>
      </svg>
      <h2 class="benefits__list-item-title">Грецкий орех</h2>
      <div class="benefits__list-item-text">
        <p>
          Дерево жизни - так часто величают грецкий орех, поскольку с давних пор
          он кормил, восстанавливал силы и лечил человека.
        </p>
        <p>
          Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая
          профилактика многих заболеваний
        </p>
      </div>
    </li>
    <li class="benefits__list-item benefits__list-item-two">
      <img src="../img/components/benefits/image-2.webp" alt="hazelnut" />

      <svg>
        <use href="../img/sprite.svg#icon-hazelnut"></use>
      </svg>
      <h2 class="benefits__list-item-title">Фундук</h2>
      <div class="benefits__list-item-text">
        <p>
          Фундук — источник энергии, содержит магний и фосфор, поддерживает
          здоровье сердца.
        </p>
        <p>Идеален для перекусов и приготовления десертов.</p>
      </div>
    </li>
    <li class="benefits__list-item benefits__list-item-three">
      <img src="../img/components/benefits/image-3.webp" alt="rosehip" />

      <svg>
        <use href="../img/sprite.svg#icon-rosehip"></use>
      </svg>
      <h2 class="benefits__list-item-title">Шиповник</h2>
      <div class="benefits__list-item-text">
        <p>Плоды шиповника богаты витамином C, укрепляют иммунную систему.</p>
        <p>Используются в настоях, чаях и натуральных сладостях.</p>
      </div>
    </li>
  </ul>
</section>
