<section class="container manufacturer-home">
  <div class="manufacturer-home__info">
    <h2 class="manufacturer-home__info-title">О производителе</h2>
    <div class="manufacturer-home__info-desc">
      <p>
        <span>
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
        </span>
        выращивает смешанные сады ореха грецкого с фундуком, а также ореха
        грецкого с шиповником, на площади более 150 гектаров.
      </p>
      <p>
        Помимо этого кооператив занимается выращиванием посадочного материала,
        саженцов привитого и непривитого грецкого ореха, фундука и шиповника.
      </p>
      <!-- <p>
        Предприятие укомплектовано всей необходимой техникой и оборудованием для
        выращивания интенсивного сада, воспроизводства саженцев в питомнике и
        выращивания трюфеля.
      </p> -->
    </div>
    <a
      href="about.html"
      class="manufacturer-home__info-btn"
      aria-label="go to about page"
      >Подробнее</a
    >
  </div>
  <include src="components/manufacturerSwiper.html"></include>
</section>
