@use "../../base/globals.scss" as s;

.catalog-swiper {
  padding-top: 100px;
  @include s.d-flex($direction: row, $align: center, $justify: space-between);
  &__info {
    max-width: 527px;
    @include s.d-flex($direction: column);
    gap: 8px;
    &-title {
      font-family: s.$font__rel;
      font-weight: 800;
      font-size: 45px;
      line-height: 1.02222;
      letter-spacing: -0.005em;
    }
    &-span {
      font-family: s.$font__rel;
      font-weight: 600;
      font-size: 24px;
      line-height: 2.08333;
      letter-spacing: 0.01em;
    }
    &-desc {
      margin-top: 4px;
      max-height: 315px;

      @include s.d-flex($direction: column);
      gap: 27px;

      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        width: 2px;
        border-radius: 8px;
        z-index: -1;
      }

      &[data-simplebar] {
        .simplebar-track.simplebar-vertical {
          background: none !important;
          width: 100%;
        }

        .simplebar-scrollbar::before {
          right: 2 !important;
          left: auto !important;
          background-color: s.$color__green-dark;
          border-radius: 8px;
          opacity: 1 !important;
          width: 6px;
          transition: background-color 0.3s, width 0.25s;
        }

        .simplebar-scrollbar:hover::before {
          background-color: s.$color__green;
        }
      }
      p {
        &:first-child {
          max-width: 435px;
        }
				box-sizing: border-box;
				padding-right: 30px;

        margin-bottom: 26px;
        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        line-height: 1.6;
      }
    }
  }
  &__images {
    width: 700px;
    height: 472px;
    &-swiper {
      width: 100%;
      overflow: hidden;
      position: relative;
      &-slide {
        position: relative;
        width: 100%;
        @include s.d-flex($direction: column, $align: center, $justify: center);
        img {
          width: 100%;
          height: 472px;
        }
      }
      &-buttons {
        @include s.d-flex($direction: row, $align: center, $justify: center);
        gap: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        button {
          padding: 19px 24px;
          border: none;
          background: s.$color__green-dark;
          svg {
            width: 22px;
            height: 18px;
            fill: rgba(255, 255, 255, 0.5);

            transition: fill 0.5s ease;
          }
          &:hover {
            svg {
              fill: s.$color__white;
            }
          }
        }
      }
    }
  }
}
