@use "../../base/globals.scss" as s;

.corporate-tabs {
  padding-top: 20px;
  padding-bottom: 91px;
  @include s.d-flex($direction: column);

  &__list {
    padding-bottom: 18px;
    @include s.d-flex($direction: row, $align: center, $wrap: wrap);
    gap: 50px;

    &-item {
      width: 205px;
      cursor: pointer;
      position: relative;
      @include s.d-flex($direction: row, $align: center);
      gap: 17px;
      svg {
        fill: #c4c4c4;
      }
      &-svg-1 {
        width: 37px;
        height: 37px;
      }
      &-svg-2 {
        width: 37px;
        height: 37px;
      }
      &-svg-3 {
        width: 49px;
        height: 49px;
      }
      &-svg-4 {
        width: 45px;
        height: 45px;
      }
      &-svg-5 {
        width: 43px;
        height: 43px;
      }
      p {
        font-family: s.$font__rel;
        font-weight: 800;
        font-size: 19.5px;
        line-height: 1.15;
        letter-spacing: 0.01em;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -19px;
        left: 0;

        width: 100%;
        height: 3px;

        background-color: s.$color__green-dark;

        opacity: 0;

        transition: opacity 0.5s ease;
      }
      &:hover {
        svg {
          fill: s.$color__green-dark;
        }
      }
      &.active {
        svg {
          fill: s.$color__green-dark;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  hr {
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    margin: 0;
  }
  &__info {
    padding-top: 38px;
    box-sizing: border-box;
    @include s.d-flex($direction: column);
    gap: 40px;

    &-text {
      margin-top: 23px;
      margin-left: -2px;
      @include s.d-flex($direction: column);
      gap: 41px;
      &-ps {
        @include s.d-flex($direction: column);
        gap: 24px;

        font-family: s.$font__rel;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.01em;

        line-height: 1.5;

      }
      &-btn {
        @include s.btn-gr-wh();
        @include s.d-flex($direction: column, $align: center, $justify: center);
        width: 187px;
        height: 51px;

        font-family: s.$font__rel;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: s.$color__white;
      }
    }
    &-img {
      width: 100%;
      height: 250px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (min-width: s.$media_768) {
    &__info {
      &-img {
        width: 100%;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media (min-width: s.$media_1440) {
    &__list {
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      gap: none;

      &-item {
        p {
          font-size: 16.5px;
        }
      }
    }
    &__info {
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      gap: 20px;

      &-text {
        max-width: 377px;

      }
      &-img {
        width: auto;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media (min-width: s.$media_1920) {
    &__list {
      &-item {
        p {
          font-size: 19.5px;
        }
      }
    }
    &__info {
      gap: none;

      &-text {
        max-width: 477px;
        &-ps {
          &-3 {
            max-width: 420px;
          }
          &-4 {
            max-width: 425px;
          }
        }
      }
      &-img {
        width: 761px;
        height: 471px;
      }
    }
  }
}
