@use "../../base/globals.scss" as s;

.card-info {
  padding-top: 129px;
  padding-bottom: 89px;
  @include s.d-flex($direction: column, $align: center);

  &__swiper {
    margin-bottom: 15px;
    width: 100%;
    height: 569px;

    overflow: hidden;
    position: relative;

    border: 1.5px solid s.$color__green;

    & .swiper-wrapper {
      & .card-info__swiper-item {
        width: 100%;
        position: relative;
        overflow: hidden; 
        @include s.d-flex($direction: row, $align: center, $justify: center);

        img {
        }
        &-zoom {
          cursor: pointer;
          z-index: 2;
          position: absolute;
          top: 14px;
          right: 11px;

          width: 55px;
          height: 55px;
        }
      }
    }
    &-buttons {
      z-index: 1;
      position: absolute;
      top: 45%;
      left: 0;

      padding: 0 21px;
      width: 100%;
      box-sizing: border-box;

      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      button {
        background: transparent;
        border: none;
        svg {
          width: 27px;
          height: 27px;
          fill: #c4c4c4;

          transition: fill 0.5s ease;
        }
        &:hover {
          svg {
            fill: s.$color__green-dark;
          }
        }
      }
    }
  }
  &__text {
    margin-top: 2px;
    @include s.d-flex($direction: column);
    &-one {
      padding-bottom: 19px;
      @include s.d-flex(
        $direction: row,
        $align: center,
        $justify: space-between
      );
      p {
        font-family: s.$font__rel;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: s.$color__green-dark;
      }
      span {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #5b5b5b;
      }
    }
    &-title {
      padding-bottom: 40px;
      max-width: 500px;
      font-family: s.$font__rel;
      font-weight: 800;
      font-size: 20px;
      line-height: 1.06667;
      letter-spacing: 0.01em;
    }
    &-list {
      @include s.d-flex($direction: column);
      gap: 27px;
      li {
        @include s.d-flex($direction: column);
        gap: 10px;
        h3 {
          font-family: s.$font__rel;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.0625;
          letter-spacing: 0.02em;
          color: s.$color__black;
        }
        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 1.4;
          color: #5b5b5b;
        }
      }
    }
    &-precedence {
      margin-top: 39px;
      margin-bottom: 34px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background: #fcfcfc;

      padding: 21px 18px 23px 18px;
      box-sizing: border-box;

      @include s.d-flex($direction: column);
      gap: 15px;

      svg {
        width: 28px;
        height: 28px;
      }
      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.45;
      }
    }
    &-ends {
      @include s.d-flex($direction: column);
      gap: 30px;
      &-price {
        margin-bottom: 15px;
        @include s.d-flex($direction: row, $align: end);
        gap: 8px;
        h2 {
          font-weight: 600;
          font-size: 18px;
        }
        &-new {
          font-weight: 600;
          font-size: 24px;
          color: s.$color__green-dark;
          span {
            font-size: 16px;
          }
        }
        &-old {
          font-weight: 500;
          font-size: 16px;
          color: s.$color__gray;
          text-decoration: line-through;
        }
      }
      & button {
        margin-right: -2px;
        width: 190px;
        height: 52px;
        @include s.btn-gr-wh();
        @include s.d-flex($direction: column, $align: center, $justify: center);

        font-family: s.$font__rel;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.02em;
      }
    }
  }
  @media (min-width: s.$media_768) {
    @include s.d-flex($direction: column);

    &__text {
      &-title {
        font-size: 30px;
      }
      &-list {
        li {
          max-width: 660px;

          @include s.d-flex($direction: row, $justify: space-between);
          gap: none;
          p {
            width: 388px;
          }
        }
      }
      &-precedence {
        max-width: 580px;

        @include s.d-flex(
          $direction: row,
          $align: center,
          $justify: space-between
        );
        gap: none;

        p {
          max-width: 486px;
        }
      }
      &-ends {
        margin: 0 0 0 auto;
        @include s.d-flex($direction: row, $align: center);
      }
    }
  }
  @media (min-width: s.$media_1440) {
    @include s.d-flex($direction: row, $align: center, $justify: space-between);
    gap: 30px;
    &__swiper {
      width: 552px;
    }
    &__text {
      &-list {
        li {
          p {
            width: 288px;
          }
        }
      }
      &-precedence {
        max-width: none;

        p {
          max-width: 386px;
        }
      }
    }
  }
  @media (min-width: s.$media_1920) {
    @include s.d-flex($direction: row, $align: center, $justify: space-between);
    gap: none;
    &__swiper {
      margin-left: -3px;
    }
    &__text {
      max-width: 660px;
      &-one {
        span {
          margin-right: -3px;
        }
      }
      &-list {
        li {
          height: 35px;
          max-width: none;
          p {
            width: 388px;
          }
        }
      }
      &-precedence {
        width: 660px;
        height: 109px;

        p {
          max-width: 566px;
        }
      }
    }
  }
}
