<section class="container">
  <div class="catalog-filter">
    <div class="catalog-filter__one">
      <div class="catalog-filter__one-title">
        <p>Фильтр</p>
        <svg>
          <use href="../img/sprite.svg#icon-filter"></use>
        </svg>
      </div>
      <div class="catalog-filter__one-options">
        <div class="catalog-filter__one-options-taste">
          <div class="catalog-filter__one-options-taste-active">
            <p>Вкус</p>
            <svg>
              <use href="../img/sprite.svg#icon-arrow-b"></use>
            </svg>
          </div>
          <ul class="catalog-filter__one-options-taste-variant">
            <li data-value="classic">Классический</li>
            <hr />
            <li data-value="sweet">Сладкий</li>
            <hr />
            <li data-value="salty">Соленый</li>
          </ul>
        </div>
        <div class="catalog-filter__one-options-weight">
          <div class="catalog-filter__one-options-weight-active">
            <p>Масса</p>
            <svg>
              <use href="../img/sprite.svg#icon-arrow-b"></use>
            </svg>
          </div>
          <ul class="catalog-filter__one-options-weight-variant">
            <li data-value="40">до 40 г</li>
            <hr />
            <li data-value="60">до 60 г</li>
            <hr />
            <li data-value="120">до 120 г</li>
          </ul>
        </div>
        <div class="catalog-filter__one-options-price">
          <p>Стоимость</p>
          <div class="catalog-filter__one-options-price-variant">
            <svg class="catalog-filter__one-options-price-variant-down">
              <use href="../img/sprite.svg#icon-price-down"></use>
            </svg>
            <svg class="catalog-filter__one-options-price-variant-up">
              <use href="../img/sprite.svg#icon-price-up"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog-filter__two">
      <button class="catalog-filter__two-apply">Применить</button>
      <button class="catalog-filter__two-reset">
        <svg>
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
        Сбросить
      </button>
    </div>
  </div>
  <div class="catalog-list-container">
    <include src="components/products.html"></include>
  </div>
	<button class="catalog-list-btn">Загрузить еще</button>
</section>
