<section class="container catalog-swiper">
  <div class="catalog-swiper__info">
    <h2 class="catalog-swiper__info-title">Экологически чистый грецкий орех</h2>
    <span class="catalog-swiper__info-span">Оптом, и в розницу</span>
    <div class="catalog-swiper__info-desc" data-simplebar>
      <p>
        Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
        выращивает смешанные сады ореха грецкого с фундуком, а также ореха
        грецкого с шиповником, на площади более 150 гектаров.
      </p>
      <p>
        Помимо этого кооператив занимается выращиванием посадочного материала,
        саженцов привитого и непривитого грецкого ореха, фундука и шиповника.
      </p>
      <p>
        Орех Причерноморья – это первый и единственный в Украине сад по
        совместному выращиванию фундука и грецкого ореха
      </p>
      <p>
        Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
        выращивает смешанные сады ореха грецкого с фундуком, а также ореха
        грецкого с шиповником, на площади более 150 гектаров.
      </p>
      <p>
        Помимо этого кооператив занимается выращиванием посадочного материала,
        саженцов привитого и непривитого грецкого ореха, фундука и шиповника.
      </p>
      <p>
        Орех Причерноморья – это первый и единственный в Украине сад по
        совместному выращиванию фундука и грецкого ореха
      </p>
    </div>
  </div>
  <div class="catalog-swiper__images">
    <div class="catalog-swiper__images-swiper">
      <div class="swiper-wrapper">
        <div class="catalog-swiper__images-swiper-slide swiper-slide">
          <img
            src="../img/components/catalogpage/swiper-1.png"
            alt="image one"
          />
        </div>
        <div class="catalog-swiper__images-swiper-slide swiper-slide">
          <img
            src="../img/components/catalogpage/swiper-2.png"
            alt="image one"
          />
        </div>
      </div>
      <div class="catalog-swiper__images-swiper-buttons">
        <button
          aria-label="prev"
          class="catalog-swiper__images-swiper-buttons-prev"
        >
          <svg>
            <use href="../img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          aria-label="next"
          class="catalog-swiper__images-swiper-buttons-next"
        >
          <svg>
            <use href="../img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
