<section class="container articles-section">
  <div class="breadcrumbs"></div>
  <div class="articles-section__text">
    <h1>Новости и статьи</h1>
    <p>Свежие новости и полезная информация</p>
  </div>
  <div class="articles-section__info">
    <div class="articles-section__info-card-one articles-section__info-card">
      <div class="articles-section__info-card-img">
        <img src="../img/components/news/image-4.png" alt="article 1" />
      </div>
      <div class="articles-section__info-card-text">
        <span>12.04.2019</span>
        <h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
        <p>
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные условия сотрудничества.
        </p>
        <p>
          Ореховый бизнес – один из наиболее перспективных в Украине. Ежегодная
          нехватка продукта в Европе составляет 100 000 тонн. У Вас есть
          возможность зарабатывать десятки тысяч долларов в год всего на
          нескольких гектарах земли.
        </p>
        <a href="#">
          Читать
          <svg>
            <use href="../img/sprite.svg#icon-read"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="articles-section__info-list">
      <div class="articles-section__info-list-item">
        <div class="articles-section__info-list-item-img">
          <img src="../img/components/news/image-1.webp" alt="card 2" />
        </div>
        <div class="articles-section__info-list-item-info">
          <span>12.04.2019</span>
          <h3>
            Центр поддержки экспорта, в студии<br />
            Павел Тулба
          </h3>
          <p>
            Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень
            недооценена среди наших садоводов, не смотря на большой спрос в
            Европе и отличную...
          </p>
          <a href="#">
            Читать
            <svg>
              <use href="../img/sprite.svg#icon-read"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="articles-section__info-list-item">
        <div class="articles-section__info-list-item-img hero">
          <div class="hero-text">
            <img src="../img/components/news/image-2.webp" alt="card 3" />
            <button aria-label="play" class="hero-play">
              <svg>
                <use href="../img/sprite.svg#icon-play"></use>
              </svg>
            </button>
          </div>
          <div class="hero-video" style="display: none"></div>
        </div>
        <div class="articles-section__info-list-item-info">
          <span>12.04.2019</span>
          <h3>
            В Одесской области состоялся масштабный торгово - экспортный форум
          </h3>
          <p>
            Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень
            недооценена среди наших садоводов, не смотря на большой спрос в
            Европе и отличную...
          </p>
          <a href="#">
            Читать
            <svg>
              <use href="../img/sprite.svg#icon-read"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="articles-section__info-list-item">
        <div class="articles-section__info-list-item-img">
          <img src="../img/components/news/image-3.webp" alt="card 2" />
        </div>
        <div class="articles-section__info-list-item-info">
          <span>12.04.2019</span>
          <h3>Сертификация органического <br />производителя</h3>
          <p>
            Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень
            недооценена среди наших садоводов, не смотря на большой спрос в
            Европе и отличную...
          </p>
          <a href="#">
            Читать
            <svg>
              <use href="../img/sprite.svg#icon-read"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="articles-section__info-card-three hero">
      <img src="../img/components/gallery/image-3.png" alt="photo" />
      <div class="articles-section__info-card-three__textvideo hero-text">
        <button aria-label="play" class="play hero-play">
          <svg>
            <use href="../img/sprite.svg#icon-play"></use>
          </svg>
        </button>
        <h3>Проект UBHDP</h3>
        <p>
          Вчера к нам приезжал американский агроном Рон , спасибо Мельнику
          Евгению и проекту UBHDP за возможность получить консультацию от
          мировых специалистов!
        </p>
      </div>
      <div class="hero-video" style="display: none"></div>
    </div>
  </div>
  <a href="#" class="articles-section__link"> Посмотреть еще </a>
</section>
