<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container">
  <div class="passwordpage">
    <h1>Пароль</h1>
    <div class="passwordpage__info">
      <div class="passwordpage__info-list">
        <input
          type="password"
          name="password"
          placeholder="Текущий пароль*"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Новый пароль*"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Подтвердить пароль*"
          required
        />
      </div>
      <button>Продолжить</button>
    </div>
  </div>
</section>
