@use "./fonts.scss";
@use "./base/reset.scss";

@use "./base/variables.scss";
@use "./base/mixins.scss";

@use "./base/base.scss";
@use "./base/container.scss";


@use "./components/header.scss" as *;
@use "./components/hero.scss" as *;
@use "./components/products.scss" as *;
@use "./components/manufacturer.scss" as *;
@use "./components/statistics.scss" as *;
@use "./components/goal.scss" as *;
@use "./components/benefits.scss" as *;
@use "./components/eco.scss" as *;
@use "./components/newsSwiper.scss" as *;
@use "./components/map.scss" as *;

@use "./components/person.scss" as *;
@use "./components/gallery.scss" as *;

@use "./components/corporatepage/info.scss" as *;
@use "./components/corporatepage/tabs.scss" as *;

@use "./components/footer.scss" as *;
