@use "./fonts.scss";
@use "./base/reset.scss";

@use "./base/variables.scss";
@use "./base/mixins.scss";

@use "./base/base.scss";
@use "./base/container.scss";


@use "./components/header.scss" as *;
@use "./components/hero.scss" as *;
@use "./components/products.scss" as *;
@use "./components/manufacturer.scss" as *;
@use "./components/statistics.scss" as *;
@use "./components/goal.scss" as *;
@use "./components/benefits.scss" as *;
@use "./components/eco.scss" as *;
@use "./components/newsSwiper.scss" as *;
@use "./components/map.scss" as *;

@use "./components/person.scss" as *;
@use "./components/gallery.scss" as *;

@use "./components/corporatepage/info.scss" as *;
@use "./components/corporatepage/tabs.scss" as *;

@use "./components/paymentpage/tabs.scss" as *;

@use "./components/articlespage/articlesSections.scss" as *;

@use "./components/articleIdpage/articleIdpage.scss" as *;

@use "./components/catalogpage/catalogList.scss" as *;
@use "./components/catalogpage/catalogSwiper.scss" as *;

@use "./components/cardpage/cardInfo.scss" as *;
@use "./components/cardpage/cardTabs.scss" as *;

@use "./components/register.scss" as *;
@use "./components/login.scss" as *;
@use "./components/forgotPassword.scss" as *;

@use "./components/basket.scss" as *;
@use "./components/checkoutpage/checkout.scss" as *;

@use "./components/error.scss" as *;

@use "./components/footer.scss" as *;
