<section class="payment-tabs">
  <ul class="container payment-tabs__list">
      <li class="payment-tabs__list-item payment-item-one">
        <svg class="payment-tabs__list-item-svg-1">
          <use href="../img/sprite.svg#icon-wallet"></use>
        </svg>
        <p>Оплата заказа</p>
      </li>
      <li class="payment-tabs__list-item payment-item-two">
        <svg class="payment-tabs__list-item-svg-2">
          <use href="../img/sprite.svg#icon-car"></use>
        </svg>
        <p>Доставка партии</p>
      </li>
      <li class="payment-tabs__list-item payment-item-three">
        <svg class="payment-tabs__list-item-svg-3">
          <use href="../img/sprite.svg#icon-box"></use>
        </svg>
        <p>Возврат товара</p>
      </li>
  </ul>
  <hr />
  <div class="container payment-tabs__info"></div>
</section>
