<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container account-contact adresspage reqpage">
  <include src="components/accountNav.html"></include>
  <div class="account-contact__info adresspage__info">
    <div class="account-contact__info-desc">
      <p>Ваш личный менеджер Олег</p>
      <div class="account-contact__info-desc-tel">
        <svg>
          <use href="../img/sprite.svg#icon-tel-mob"></use>
        </svg>
        <span>+38 067 777 14 12</span>
      </div>
    </div>
    <div class="reqpage-container">
      <div class="reqpage-container__forms">
        <div
          class="register-container__two-other-ur register-container__two-other-variant"
        >
          <div
            class="register-container__two-other-ur-rec register-container__two-other-variant-rec"
          >
            <h2>1. Реквизиты</h2>
            <input
              class="reqpage-container__forms-input"
              type="text"
              name="recRegister"
              placeholder="ОКПО"
            />
          </div>
          <div class="account-contact__info-container adresspage-form">
            <h2 class="adresspage-form-title">2. Адрес</h2>
            <div
              class="account-contact__info-container-forms-list adresspage-form-list"
            >
              <div
                class="register-container__one-adress-forms-input-country reqpage-container__forms-input"
              >
                <div
                  class="register-container__one-adress-forms-input-country-active
                  reqpage-container__forms-input-active"
                >
                  <p>Страна</p>
                  <svg>
                    <use href="../img/sprite.svg#icon-arrow-b"></use>
                  </svg>
                </div>
                <ul
                  class="register-container__one-adress-forms-input-country-variant
                  reqpage-container__forms-variant"
                >
                  <li>Украина</li>
                  <hr />
                  <li>Польша</li>
                  <hr />
                  <li>Молдова</li>
                </ul>
              </div>
              <div
                class="register-container__one-adress-forms-input-region reqpage-container__forms-input"
              >
                <div
                  class="register-container__one-adress-forms-input-region-active
                  reqpage-container__forms-input-active-t"
                >
                  <p>Область</p>
                  <svg>
                    <use href="../img/sprite.svg#icon-arrow-b"></use>
                  </svg>
                </div>
                <ul
                  class="register-container__one-adress-forms-input-region-variant
                  reqpage-container__forms-input-variant-t"
                >
                  <li>Киевская</li>
                  <hr />
                  <li>Одесская</li>
                </ul>
              </div>
              <input
                class="reqpage-container__forms-input"
                type="text"
                name="cityRegister"
                placeholder="Город*"
                required
              />
              <input
                class="reqpage-container__forms-input"
                type="text"
                name="adressRegister"
                placeholder="Адрес"
              />
            </div>
          </div>
          <div
            class="register-container__two-other-ur-adress register-container__two-other-variant-adress"
          >
            <h2>3. Юридический адрес</h2>
            <div
              class="register-container__two-other-ur-adress-forms register-container__two-other-variant-adress-forms"
            >
              <div
                class="register-container__two-other-ur-adress-forms-country register-container__two-other-variant-adress-forms-country reqpage-container__forms-input"
              >
                <div
                  class="register-container__two-other-ur-adress-forms-country-active register-container__two-other-variant-adress-forms-country-active"
                >
                  <p>Страна</p>
                  <svg>
                    <use href="../img/sprite.svg#icon-arrow-b"></use>
                  </svg>
                </div>
                <ul
                  class="register-container__two-other-ur-adress-forms-country-variant register-container__two-other-variant-adress-forms-country-variant"
                >
                  <li>Украина</li>
                  <hr />
                  <li>Польша</li>
                  <hr />
                  <li>Молдова</li>
                </ul>
              </div>
              <div
                class="register-container__two-other-ur-adress-forms-region register-container__two-other-variant-adress-forms-region reqpage-container__forms-input"
              >
                <div
                  class="register-container__two-other-ur-adress-forms-region-active register-container__two-other-variant-adress-forms-region-active"
                >
                  <p>Область</p>
                  <svg>
                    <use href="../img/sprite.svg#icon-arrow-b"></use>
                  </svg>
                </div>
                <ul
                  class="register-container__two-other-ur-adress-forms-region-variant register-container__two-other-variant-adress-forms-region-variant"
                >
                  <li>Киевская</li>
                  <hr />
                  <li>Одесская</li>
                </ul>
              </div>
              <input
                class="reqpage-container__forms-input"
                type="text"
                name="cityRegister"
                placeholder="Город*"
                required
              />
              <input
                class="reqpage-container__forms-input"
                type="text"
                name="adressRegister"
                placeholder="Адрес"
              />
              <input
                class="reqpage-container__forms-input"
                type="text"
                name="indexRegister"
                placeholder="Индекс"
              />
            </div>
          </div>
        </div>
        <button
          class="account-contact__info-container-btn adresspage-form-btn reqpage-container__forms-btn"
        >
          Сохранить
        </button>
      </div>
      <div class="reqpage-container-img">
        <img src="../img/components/accountpage/adress.png" alt="photo" />
        <div class="reqpage-container-img-text">
          <h3>Орех Причерноморья</h3>
          <p>
            Единственный в Украине сад совместного выращивания фундука и
            грецкого ореха
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
