<section class="container about-person">
  <div class="about-person__info">
    <img src="../img/components/aboutpage/person.png" alt="person" />
    <div class="about-person__info-text">
      <h2 class="about-person__info-text-name">Павел Тулба</h2>
      <p class="about-person__info-text-desc">
        Учередитель и владелец <br />
        предприятия “Орех Причерноморья”
      </p>
      <div class="about-person__info-text-citation">
        <svg>
          <use href="../img/sprite.svg#icon-citation"></use>
        </svg>
        <span
          >Главная наша цель – получить максимальную прибыль с одного гектара.
        </span>
      </div>
      <button class="about-person__info-text-btn">Написать нам</button>
    </div>
  </div>
  <div class="about-person__history">
    <svg>
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
    <h3 class="about-person__history-title">История предприятия</h3>
    <div class="about-person__history-text">
      <p>
        Наше предприятие основано в 2012 году для закладки смешанного сада
        грецкого ореха и фундука.
      </p>
      <p>
        На сегодня мы уже заложили более 100 гектаров сада и продолжаем
        расширять свои насаждения. Кроме выращивания грецкого ореха и фундука,
        мы занимаемся выращиванием саженцев, разведением и выращиванием овец, а
        также являемся первой в Украине компанией, приступившей к промышленному
        выращиванию трюфелей на корнях фундука.
      </p>
      <p>
        Земля, которой пользуется кооператив, является собственностью членов
        нашего кооператива.
      </p>
    </div>
  </div>
</section>
