@use "../../base/globals.scss" as s;

.passwordpage {
  padding-top: 109px;
	padding-bottom: 100px;
  @include s.d-flex($direction: column, $align: center);
  gap: 42px;
  h1 {
    font-family: s.$font__rel;
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.01em;
  }
  &__info {
    // width: 410px;
    max-width: 410px;
		width: 100%;

    @include s.d-flex($direction: column);
		gap: 16px;
    &-list {
      @include s.d-flex($direction: column);
			gap: 15px;
      input {
        @include s.input-reg();

        padding-left: 11px;
        height: 47px;
        width: 100%;
      }
    }
    button {
      height: 50px;
      @include s.btn-gr-wh();
      @include s.d-flex($direction: column, $align: center, $justify: center);

      font-family: s.$font__rel;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.0625;
    }
  }
}
