<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container login">
  <h1>Войти в личный кабинет</h1>
  <div class="login__info">
    <div class="login__info-inputs">
      <input type="email" name="emailLogin" placeholder="Email" required />
      <input
        type="password"
        name="passwordLogin"
        placeholder="Пароль"
        required
      />
    </div>
    <div class="login__info-links">
      <a href="forgotPassword.html" aria-label="forgot password" class="login__info-links-forgot"
        >Забыли пароль?</a
      >
      <a href="#" aria-label="account page" class="login__info-links-sing"
        >Войти</a
      >
      <a
        href="register.html"
        aria-label="register page"
        class="login__info-links-register"
        >Регистрация</a
      >
    </div>
  </div>
</section>
