<div class="account-nav">
  <h1>Учетная запись</h1>
  <div class="account-nav__info">
    <div class="account-nav__info-one account-nav__info-div">
      <h2>Мои заказы</h2>
      <div class="account-nav__info-one-list account-nav__info-div-list">
        <a href="orderHistory.html" aria-label="link"><p>История заказов</p></a>
        <a href="transactionHistory.html" aria-label="link"
          ><p>История транзакций</p></a
        >
      </div>
    </div>
    <div class="account-nav__info-two account-nav__info-div">
      <h2>Моя учетная запись</h2>
      <div class="account-nav__info-two-list account-nav__info-div-list">
        <a href="contacts.html" aria-label="link"
          ><p>Контактная информация</p></a
        >
        <a href="forgotPassword.html" aria-label="link"><p>Пароль</p></a>
        <a href="adress.html" aria-label="link"><p>Адрес</p></a>
      </div>
    </div>
  </div>
</div>
