<table class="basket-table">
  <thead>
    <tr>
      <th>
        Товар
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </th>
      <th>
        Кол-во
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </th>
      <th>
        Цена за товар
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </th>
      <th>
        Итоговая стоимость
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </th>
    </tr>
  </thead>
  <tbody class="basket-table-body">

  </tbody>
</table>
