<div class="basket-table">
    <div class="basket-table-info">
      <div class="basket-table-info-name basket-table-info-th">
        Товар
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </div>
      <div class="basket-table-info-number basket-table-info-th">
        Кол  -  во
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </div>
      <div class="basket-table-info-price basket-table-info-th">
        Цена за товар
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </div>
      <div class="basket-table-info-total basket-table-info-th">
        Итоговая стоимость
        <svg>
          <use href="../img/sprite.svg#icon-arrow-down"></use>
        </svg>
      </div>
    </div>
  <div class="basket-table-body">

  </d>
</div>
