<header class="header-mob">
  <div class="header-mob__first">
    <div class="header-mob__first-call">
      <svg>
        <use href="../img/sprite.svg#icon-tel-mob"></use>
      </svg>
      <a href="#"><span>+38 (044)</span> 750-50-11</a>
    </div>
    <a  class="header-mob__first-order" href="#">Заказать звонок</a>
    <!-- Request a call -->
    <div class="header-mob__first-language">
      <span>Ru</span>
      <!-- Uk -->
      <svg>
        <use href="../img/sprite.svg#icon-arrow-b"></use>
      </svg>
    </div>
  </div>
  <div class="header-mob__two">
    <button class="header-mob__two-menu">
      <svg>
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <a href="./" aria-label="home" class="header-mob__two-logo">
      <img src="../img/logo-mob.svg" alt="logo" />
    </a>
    <button class="header-mob__two-bag">
      <svg>
        <use href="../img/sprite.svg#icon-bag"></use>
      </svg>
      <span class="basket-calculator">0</span>
    </button>
  </div>
  <div class="header-mob__three">
    <p>Ваша персональная скидка - 5%</p>
  </div>
</header>
<header class="header-desk">
  <div class="header-desk__first container">
    <ul class="header-desk__first-soc">
      <li>
        <a href="#" aria-label="facebook">
          <svg>
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="instagram">
          <svg>
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="youtube">
          <svg>
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="header-desk__first-sale">Ваша персональная скидка - 5%</p>
    <div class="header-desk__first-info">
      <div class="header-desk__first-info-acc">
        <a href="#" class="header-desk__first-info-acc-ex">
          <svg>
            <use href="../img/sprite.svg#icon-entrance"></use>
          </svg>
          Вход
        </a>
        <a href="register.html" class="header-desk__first-info-acc-reg">Регистрация</a>
      </div>
      <div class="header-desk__first-info-language">
        <span>Ru</span>
        <!-- Uk -->
        <svg>
          <use href="../img/sprite.svg#icon-arrow-b"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="header-desk__two container">
    <a href="./" aria-label="home" class="header-desk__two-logo">
      <img src="../img/logo.svg" alt="logo" />
    </a>
    <div class="header-desk__two-info">
      <div class="header-desk__two-info-connect">
        <ul class="header-desk__two-info-connect-soc">
          <li>
            <a href="#" aria-label="viber">
              <svg>
                <use href="../img/sprite.svg#icon-viber"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="telegram">
              <svg>
                <use href="../img/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="whatsapp">
              <svg>
                <use href="../img/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="header-desk__two-info-connect-tel">
          <a href="#"><span>+38 (044) </span>750-50-11</a>
          <a href="#"><span>+38 (097) </span>750-50-51</a>
        </ul>
      </div>
      <div class="header-desk__two-info-call">
        <button>Заказать звонок</button>
        <p>Ждем Вашего звонка ежедневно с 9 до 18</p>
      </div>
      <button class="header-desk__two-info-bag">
        <svg>
          <use href="../img/sprite.svg#icon-bag"></use>
        </svg>
        <span class="basket-calculator">0</span>
      </button>
    </div>
  </div>
  <!-- <hr /> -->
  <nav class="header-desk__three container">
    <a href="catalog.html" aria-label="link">Магазин</a>
    <a href="about.html" aria-label="about page">О производстве</a>
    <a href="payment.html" aria-label="link">Оплата и доставка</a>
    <a href="corporate.html" aria-label="link">Оптовым и корпоративным клиентам</a>
    <a href="articles.html" aria-label="link">Новости и статьи</a>
    <a href="#" aria-label="link">Контакты</a>
  </nav>
</header>
