<div class="manufacturer__images hero">
  <div class="hero-video" style="display: none"></div>
  <div class="manufacturer__images-swiper">
    <div class="swiper-wrapper">
      <div class="manufacturer__images-swiper-slide swiper-slide">
        <img
          src="../img/components/manufacturer/image-1.webp"
          alt="image one"
        />
        <button aria-label="play" class="hero-text hero-play">
          <svg>
            <use href="../img/sprite.svg#icon-play"></use>
          </svg>
        </button>
      </div>
      <div class="manufacturer__images-swiper-slide swiper-slide">
        <img src="../img/components/manufacturer/image-2.png" alt="image one" />
        <button aria-label="play" class="hero-text hero-play">
          <svg>
            <use href="../img/sprite.svg#icon-play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="manufacturer__images-swiper-buttons">
      <button
        aria-label="prev"
        class="manufacturer__images-swiper-buttons-prev"
      >
        <svg>
          <use href="../img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button
        aria-label="next"
        class="manufacturer__images-swiper-buttons-next"
      >
        <svg>
          <use href="../img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
