<section class="container news-el news-about">
  <div class="news-el__info">
    <h1>Новости</h1>
    <p>Свежие новости и полезная информация</p>
  </div>
  <div class="news-el-div">
    <div class="news-el__swiper-buttons">
      <button aria-label="prev" class="news-el__swiper-buttons-prev">
        <svg>
          <use href="../img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button aria-label="next" class="news-el__swiper-buttons-next">
        <svg>
          <use href="../img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="news-el__swiper">
      <div class="swiper-wrapper"></div>
    </div>
  </div>
  <a class="news-el__link" aria-label="news" href="articles.html">Смотреть все новости</a>
</section>
