<section class="container statistics">
  <ul class="statistics__list">
    <li class="statistics__list-item statistics__list-item-one">
      <h1>
        240
        <span>Га</span>
      </h1>
      <p>Cмешанных садов</p>
    </li>
    <li class="statistics__list-item statistics__list-item-two">
      <h1>
        1
        <span>Га</span>
      </h1>
      <p>Тепличного комплекса</p>
    </li>
    <li class="statistics__list-item statistics__list-item-three">
      <h1>
        10
        <span>Га</span>
      </h1>
      <p>Первая промышленная плантация шиповника в Украине</p>
    </li>
    <li class="statistics__list-item statistics__list-item-four">
      <h1>
        80
        <span>%</span>
      </h1>
      <p>Приживаемости саженцев</p>
    </li>
  </ul>
</section>
