<section class="container corporate-info">
  <h1>Оптовым <br/> и корпоративным клиентам</h1>
  <div class="corporate-info__text">
    <div class="corporate-info__text-div">
      <p class="corporate-info__text-div-norma">
        Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
        предлагает своим клиентам выгодные условия сотрудничества.
      </p>
      <p class="corporate-info__text-div-long">
        Особые условия подготовлены для
        <span>розничных магазинов, компаний HoReCa, спорт - клубов.</span>
      </p>
    </div>
    <div class="corporate-info__text-div">
      <p class="corporate-info__text-div-norma">
        Мы готовы рассмотреть особые условия для оптовых покупателей, с
        готовностью идем на встречу любому предложению.
      </p>
      <p class="corporate-info__text-div-shot">
        Если вы заинтересованы в нашей продукции, пишите, или звоните в наш
        главный офис - мы всегда пойдем вам на встречу!
      </p>
    </div>
  </div>
</section>
