<section class="corporate-tabs">
  <ul class="container corporate-tabs__list">
    <li class="corporate-tabs__list-item">
      <svg class="corporate-tabs__list-item-svg-1">
        <use href="../img/sprite.svg#icon-supermarket"></use>
      </svg>
      <p>
        Крупные<br />
        супермаркеты
      </p>
    </li>
    <li class="corporate-tabs__list-item">
      <svg class="corporate-tabs__list-item-svg-2">
        <use href="../img/sprite.svg#icon-shop"></use>
      </svg>
      <p>
        Розничные<br />
        магазины
      </p>
    </li>
    <li class="corporate-tabs__list-item">
      <svg class="corporate-tabs__list-item-svg-3">
        <use href="../img/sprite.svg#icon-horeca"></use>
      </svg>
      <p>
        Компании<br />
        HoReCa
      </p>
    </li>
    <li class="corporate-tabs__list-item">
      <svg class="corporate-tabs__list-item-svg-4">
        <use href="../img/sprite.svg#icon-fitness"></use>
      </svg>
      <p>Фитнес <br />и спорт клубы</p>
    </li>
    <li class="corporate-tabs__list-item">
      <svg class="corporate-tabs__list-item-svg-5">
        <use href="../img/sprite.svg#icon-cake"></use>
      </svg>
      <p>
        Кондитерские<br />
        и пекарни
      </p>
    </li>
  </ul>
  <hr />
  <div class="container corporate-tabs__info">

  </div>
</section>
