<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container order-history trans-history">
  <include src="components/accountNav.html"></include>
  <div class="order-history__info">
    <div class="order-history__info-desc">
      <p>Ваш личный менеджер Олег</p>
      <div class="order-history__info-desc-tel">
        <svg>
          <use href="../img/sprite.svg#icon-tel-mob"></use>
        </svg>
        <span>+38 067 777 14 12</span>
      </div>
    </div>
    <div class="order-history__info-table-wrappper">
      <table class="order-history__info-table trans-history__info-table">
        <thead>
          <tr>
            <th class="col-date-trans">
              Добавлено
              <svg>
                <use href="../img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </th>
            <th class="col-status-trans">
              Статус
              <svg>
                <use href="../img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </th>
            <th class="col-count-trans">
              Сумма
              <svg>
                <use href="../img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3.05.2019</td>
            <td>Платеж принят</td>
            <td>
              <div class="trans-history__info-table-div">
                2500 грн.
                <div>
                  <svg>
                    <use href="../img/sprite.svg#icon-eye"></use>
                  </svg>
                  <p>Просмотреть заказ</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>10.05.2019</td>
            <td>Платеж принят</td>
            <td>
              <div class="trans-history__info-table-div">
                2400 грн.
                <div>
                  <svg>
                    <use href="../img/sprite.svg#icon-eye"></use>
                  </svg>
                  <p>Просмотреть заказ</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="trans-history__text">У вас не было транзакций!</p>
  </div>
</section>
