<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container basketpage checkout-basket">
  <div class="basketpage__info checkout-basket__info">
    <h1>Оформление заказа</h1>
    <div class="basketpage__info-desc">
      <p>Ваш личный менеджер Олег</p>
      <div class="basketpage__info-desc-tel">
        <svg>
          <use href="../img/sprite.svg#icon-tel-mob"></use>
        </svg>
        <span>+38 067 777 14 12</span>
      </div>
    </div>
  </div>
  <include src="components/basketTablet.html"></include>
  <div class="basketpage__next checkout-basket__next">
    <div class="basketpage__next-inner">
      <p>
        Всего
        <span class="basketpage__next-inner-total">0 <span>грн.</span></span>
      </p>
    </div>
  </div>
</section>
