<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container basketpage">
  <div class="basketpage__info">
    <h1>Корзина</h1>
    <div class="basketpage__info-desc">
      <p>Ваш личный менеджер Олег</p>
      <div class="basketpage__info-desc-tel">
        <svg>
          <use href="../img/sprite.svg#icon-tel-mob"></use>
        </svg>
        <span>+38 067 777 14 12</span>
      </div>
    </div>
  </div>
  <include src="components/basketTablet.html"></include>
  <div class="basketpage__next">
    <a href="catalog.html" aria-label="back" class="basketpage__next-back">
      <svg>
        <use href="../img/sprite.svg#icon-left-arrow"></use>
      </svg>
      Продолжить покупки
    </a>
    <div class="basketpage__next-inner">
      <p>
        Всего
        <span class="basketpage__next-inner-total">0 <span>грн.</span></span>
      </p>
      <a href="order.html" aria-label="order page"> Оформить заказ </a>
    </div>
  </div>
  <div class="basketpage__desc">
    <h2>Для оформления заказа необходимо</h2>
    <p>
      <a
        class="basketpage__desc-login"
        href="login.html"
        aria-label="login page"
      >
        Авторизоваться
      </a>
      или
      <a
        class="basketpage__desc-register"
        href="register.html"
        aria-label="register page"
      >
        Зарегистрироваться
      </a>
    </p>
  </div>
</section>
