<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container forgot">
  <h1>Восстановление пароля</h1>
  <div class="forgot__forms">
    <div class="forgot__forms-email forgot__forms-item">
      <h3>
        <svg>
          <use href="../img/sprite.svg#icon-lock-close"></use>
        </svg>
        Забыли пароль?
      </h3>
      <p>
        Введите Email Вашего аккаунта, Вам будет выслана ссылка для
        восстановления пароля.
      </p>
      <input type="email" name="emailLogin" placeholder="Email*" required />
      <button>Отправить ссылку</button>
    </div>
    <div class="forgot__forms-pas forgot__forms-item">
      <h3>
        <svg>
          <use href="../img/sprite.svg#icon-lock-close"></use>
        </svg>
        Восстановление пароля
      </h3>
      <p>Введите новый пароль для Email <span>example@gmail.com</span></p>
      <input
        type="password"
        name="passwordForgot"
        placeholder="Новый пароль*"
        required
      />
      <input
        type="password"
        name="passwordForgot"
        placeholder="Подтвердите новый пароль*"
        required
      />
      <button>Сменить пароль</button>
    </div>
  </div>
</section>
