<section class="container article-id-section">
  <div class="breadcrumbs"></div>
  <div class="article-id-section__title">
    <h1>Центр поддержки экспорта, в студии Павел Тулба</h1>
    <span>12.04.2019</span>
  </div>
  <div class="article-id-section-containers">
    <div class="article-id-section__one">
      <div class="article-id-section__one-img">
        <img src="../img/components/articleId/image-1.png" alt="image 1" />
      </div>
      <div class="article-id-section__one-section-one">
        <p>
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные условия сотрудничества. Ореховый
          бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка
          продукта в Европе составляет 100 000 тонн. У Вас есть возможность
          зарабатывать десятки тысяч долларов в год всего на нескольких гектарах
          земли.
        </p>
        <p>
          Предприятие основано в 2012 году для закладки смешанного сада грецкого
          ореха и фундука в Одесской области. На сегодня уже заложено более 200
          гектаров сада и этот процесс продолжается. Кооператив предоставляет
          полный цикл сопровождения: от выращивания до сбыта.
        </p>
        <p>
          Кроме выращивания грецкого ореха и фундука, компания занимается
          выращиванием саженцев, разведением и выращиванием овец, а также
          является первой в Украине компанией, приступившей к промышленному
          выращиванию трюфелей на корнях фундука.
        </p>
      </div>
      <div class="article-id-section__one-section-two">
        <h2>В Украине появится первое насаждение органического шиповника</h2>
        <p>
          Наш сельскохозяйственный обслуживающий кооператив «Орех Причерноморья»
          был основан в 2012-ом году для закладки смешанного сада грецкого ореха
          и фундука. На данный момент во владении нашей компании находится 1
          гектар тепличной площади и 270 гектар садовой площади, которую мы
          планируем расширять. «Орех Причерноморья» включен в реестр
          Министерства Аграрной Политики Украины.
        </p>
        <ul>
          <h3>Смешанный сад грецкий орех+шиповник</h3>
          <li>Возможность полной механизации всех работ по саду</li>
          <li>Невысокая стоимость смешанного сада при закладке</li>
          <li>Необходимость в интенсивном поливе только первые четыре года</li>
          <li>
            Долгий срок хранения готовой продукции и унификация сушильных камер
            и складов для хранения
          </li>
        </ul>
      </div>
      <div class="article-id-section__one-img">
        <img src="../img/components/articleId/image-2.png" alt="image 1" />
      </div>
      <div class="article-id-section__one-section-three">
        <h2>В Украине появится первое насаждение органического шиповника</h2>
        <p>
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные условия сотрудничества. Ореховый
          бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка
          продукта в Европе составляет 100 000 тонн. У Вас есть возможность
          зарабатывать десятки тысяч долларов в год всего на нескольких гектарах
          земли.
        </p>
        <p>
          Нами разработано и опробовано на собственной практике предложение для
          закладки многолетних насаждений шиповника, на земельных участках не
          пригодных к традиционному земледелию. Первых 5 гектар промышленной
          плантации шиповника, были высажены на месте бывшей сельской свалки и
          остатков разрушенной молочно товарной фермы.
        </p>
      </div>
    </div>
    <div class="article-id-section__two">
      <ul class="article-id-section__two-list">
        <h3>Последние публикации</h3>
        <li class="article-id-section__two-list-item">
          <img src="../img/components/articleId/more-1.png" alt="image 1" />
          <div class="article-id-section__two-list-item-text">
            <span>12.04.2019</span>
            <h4>Центр поддержки экспорта, в студии Павел Тулба</h4>
            <a href="articleId.html">
              Читать
              <svg>
                <use href="../img/sprite.svg#icon-read"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="article-id-section__two-list-item">
          <img src="../img/components/articleId/more-2.png" alt="image 2" />
          <div class="article-id-section__two-list-item-text">
            <span>12.04.2019</span>
            <h4>Центр поддержки экспорта, в студии Павел Тулба</h4>
            <a href="articleId.html">
              Читать
              <svg>
                <use href="../img/sprite.svg#icon-read"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="article-id-section__two-list-item">
          <img src="../img/components/articleId/more-3.png" alt="image 3" />
          <div class="article-id-section__two-list-item-text">
            <span>12.04.2019</span>
            <h4>Центр поддержки экспорта, в студии Павел Тулба</h4>
            <a href="articleId.html">
              Читать
              <svg>
                <use href="../img/sprite.svg#icon-read"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="article-id-section__two-div">
        <h4>ОРЕХ ПРИЧЕРНОМОРЬЯ</h4>
        <p>Присоединяйтесь к нам в соц. сетях</p>
        <ul class="article-id-section__two-div-soc">
          <li>
            <a href="#" aria-label="facebook">
              <svg>
                <use href="../img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="instagram">
              <svg>
                <use href="../img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="youtube">
              <svg>
                <use href="../img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
