<section class="card-tabs">
  <ul class="container card-tabs__list">
    <li class="card-tabs__list-item card-tabs-item-one">
      <p>Описание</p>
    </li>
    <li class="card-tabs__list-item card-tabs-item-two">
      <p>Упаковка</p>
    </li>
    <li class="card-tabs__list-item card-tabs-item-three">
      <p>Оплата</p>
    </li>
    <li class="card-tabs__list-item card-tabs-item-four">
      <p>Доставка</p>
    </li>
  </ul>
  <hr />
  <div class="container card-tabs__info">

  </div>
</section>
