<div class="container breadcrumbs breadcrumbs-gray"></div>
<section class="container accountpage">
  <include src="components/accountNav.html"></include>
  <div class="accountpage__info">
    <div class="accountpage__info-desc">
      <p>Ваш личный менеджер Олег</p>
      <div class="accountpage__info-desc-tel">
        <svg>
          <use href="../img/sprite.svg#icon-tel-mob"></use>
        </svg>
        <span>+38 067 777 14 12</span>
      </div>
    </div>
    <p class="accountpage__info-sale">Ваша персональная скидка - 5%</p>
  </div>
</section>
