@use "./variables.scss" as v;

@mixin d-flex(
  $direction: row,
  $justify: start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
// @include s.d-flex($direction: column, $justify: center, $align: center);

@mixin bgr(
  $size: cover,
  $position: center,
  $repeat: no-repeat,
  $origin: border-box,
  $clip: border-box
) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;

  background-origin: $origin;
  background-clip: $clip;
}

@mixin btn-gr-wh() {
  border: 1px solid v.$color__green-dark;
  background: v.$color__green-dark;
  color: v.$color__white;

  transition: all 0.5s ease;
  &:hover {
    background: v.$color__white;
    color: v.$color__green-dark;
  }
}
@mixin btn-wh-gr() {
  border: 1.5px solid v.$color__green-dark;
  background: v.$color__white;
  color: v.$color__green-dark;

  transition: all 0.5s ease;
  &:hover {
    background: v.$color__green-dark;
    color: v.$color__white;
  }
}

@mixin input-reg() {
  box-sizing: border-box;
  height: 47px;

  padding: 16px 18px;

  background: v.$color__white;
  border: 0.5px solid rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21429;

  transition: all 0.5s ease;


  // @content;
  
  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21429;
    color: v.$color__blue-dark;
  }

  &:hover {
    background: rgba(51, 125, 90, 0.1);
  }

  &:focus {
    outline: none;

    border: 1.5px solid #337d5a;
  }
}
