@use "./variables.scss" as v;

@mixin d-flex(
  $direction: row,
  $justify: start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
// @include s.d-flex($direction: column, $justify: center, $align: center);

@mixin bgr(
  $size: cover,
  $position: center,
  $repeat: no-repeat,
  $origin: border-box,
  $clip: border-box
) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;

  background-origin: $origin;
  background-clip: $clip;
}

@mixin btn-gr-wh() {
  border: 1px solid v.$color__green-dark;
  background: v.$color__green-dark;
  color: v.$color__white;

  transition: all 0.5s ease;
  &:hover {
    background: v.$color__white;
    color: v.$color__green-dark;
  }
}
