$color__white: #fff;
$color__black: #000;
$color__green-dark: #337d5a;
$color__green: #93b474;
$color__blue-dark: #1a2f3f;
$color__gray-dark: #323232;
$color__gray: #8A8A8A;

$media_360: 360px;
$media_375: 375px;
$media_768: 768px;
$media_1440: 1440px;
$media_1920: 1920px;

$font__mont: "Montserrat";
$font__rel: "Raleway";
$font__lato: "Lato";
